.hr-div {
    padding-top: 25px;
    /* Adjust the top padding as needed */
    padding-right: 15%;
    /* Adjust the right padding as needed */
    padding-left: 15%;
    /* Adjust the left padding as needed */
    text-align: center;
    /* Center the hr element */
    margin: 0px 0px;
}

.hr {
    border: none;
    /* Remove default border */
    border-top: 2px solid #A9A9A9;
    /* Define the line using the border property */
    display: block;
    margin: 0px 0px;
    /* Center the line horizontally */
}

@media (max-width: 768px) {
    .hr-div {
        padding-top: 5px;
        /* Adjust the top padding as needed */
        padding-right: 10%;
        /* Adjust the right padding as needed */
        padding-left: 10%;
        /* Adjust the left padding as needed */
        text-align: center;
        /* Center the hr element */
        margin: 0px 0px;
    }
}