body,
html,
p,
ul{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
}

body{
	box-sizing: border-box;
	background-color: #EEF0F2;
	height: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-family: "Titillium Web";
	color: #5D5F5E;
	background-color: #15244C;
}
	.logo{
		float: left;
		width: 50px;
		height: 50px;
	}

    p {
        margin-left: auto;
        margin-right: auto;
    }

	img {
	    margin-top: 5px;
		margin-bottom: 30px;
		color: #15244C;
	}

	.benefit i {
        padding-top: 20px; /* Adjust the padding as needed */
    }

	.welcome-container {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 60px;
        width: 100%;
    }

	.welcome-message {
        width: 55%;
        padding: 20px;
        padding-left: 100px;
        color: #EEF0F2;
    }

    .welcome-message h1 {
        font-size: 4.5rem;
        margin-top: 45px;
        margin-bottom: 15px;
    }

    .welcome-message .emphasized {
        font-weight: bold;
    }

    .welcome-message p {
        font-size: 2rem;
        max-width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .submark-logo-container {
        display: flex;
        width: 45%;
        padding: 50px;
        padding-left: 65px;
        align-items: center;
        color: #5D5F5E;
    }

    .section-header {
        font-size: 2rem;
        background-color: #EEF0F2;
        display: inline-block;
        width: 100%;
        padding-top: 20px;
    }

	.mission-container {
        display: flex;
        justify-content: space-around;
        background-color: #EEF0F2;
    }

    .mission {
        text-align: center;
        width: 25%;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #EEF0F2;
        color: #5D5F5E;
    }

    .mission p {
        max-width: 80%;
    }

    .tile-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
        grid-template-rows: repeat(3, 1fr); /* 3 rows of equal height */
        gap: 50px; /* Adjust the space between tiles */
        width: 100%; /* Full width of the container */
        /*  max-width: 900px; /* Optional: Maximum width for the grid */
        margin: auto; /* Center the grid */
        background-color: #EEF0F2;
    }

    .tile {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center;
        justify-content: center;
        background-color: #EEF0F2; /* Background color for tiles */
        border: 1px solid #ddd; /* Border for tiles */
        padding: 20px; /* Padding inside tiles */
        text-align: center; /* Center text */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .app-name {
        font-size: 2rem; /* Font size for application name */
        font-weight: bold; /* Bold for the application name */
        margin-bottom: 5px; /* Space between application name and description */
    }

    .app-description {
        font-size: 1.5rem; /* Font size for description */
        font-style: italic; /* Italicize the description */
        text-align: center; /* Center the description text */
    }

    .benefit {
        display: flex;
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        text-align: center; /* Centers text within text container */
        padding: 20px; /* Padding inside the benefit section */
        margin: 0 auto; /* Center the benefit section horizontally */
        background-color: #EEF0F2;
    }

    .benefit-text, .benefit-image {
        flex: 1;
        padding: 20px; /* Padding inside each section */
    }

    .benefit-image img {
        width: 100%; /* Adjust the width as needed */
        height: auto;
    }

    @media (max-width: 768px) {
        .benefit {
            flex-direction: column; /* Stack text and image vertically on smaller screens */
        }
    }

    .founder-container {
        display: flex;
        justify-content: space-around;
        background-color: #EEF0F2;
    }

    .founder-left {
        text-align: center;
        width: 24%;
        padding: 20px;
        margin-left: 300px;
        border: 1px solid #ddd; /* Add border for visual separation */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .founder-left h2 {
        margin: 0px;
    }

    .founder-left h4 {
        margin-top: 0px;
    }

    .founder-right h2 {
        margin: 0px;
    }

    .founder-right h4 {
        margin-top: 0px;
    }

    .founder-right {
        text-align: center;
        width: 24%;
        padding: 20px;
        margin-right: 300px;
        border: 1px solid #ddd; /* Add border for visual separation */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .founder-image {
        width: 250px; /* Adjust image width */
        border-radius: 25%; /* Rounded image */
        margin: 15px;
    }

    .contact-form {
        background-color: #EEF0F2;
        padding-bottom: 50px;
    }

    .contact-form p {
       padding-bottom: 40px;
    }

    .contact-form a {
        color: #15244C;
        font-weight: bold;
    }

    .spacer {
        height: 40px;
        background-color: #EEF0F2;
    }

    .footer-copyright {
        display: block;
        margin-top: auto;
        width: 100%;
        height: 45px;
        background-color: #EEF0F2;
    }

    .footer-copyright p {
        text-align: center;
        line-height: 20px;
    }

    .copyright-symbol {
        font-size: 28px;
        vertical-align: middle;
    }

    ul.social-icons{
		float: right;
		margin: 0;
		padding: 20px;
		padding-right: 20px;
	}

	ul{
		list-style-type: circle;
	}
		li{
			display: inline-block;
			margin: 0 11px;
			list-style-type: circle;
		}
			a{
				color: #EEF0F2;
				text-decoration: none;
				font-size: 1.4rem;
			}

	#benefits{
		display: flex;
		margin: 50px auto 0;
		width: 65%;
	}
		#benefits div{
			width: 33%;
		}

		#benefits h2{
			color: #5D5F5E;
			font-size: 1.3rem;
		}
			#benefits i{
				margin-right: 20px;
			}

		#benefits p{
			padding-top: 10px;
		}
			p.benefit:first-child{
			}

    #learn-more-btn {
        padding: 10px 20px;
        font-size: 1.8rem;
        font-weight: bold;
        background-color: #EEF0F2;
        color: #15244C;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
        font-family: "Titillium Web";
    }


@media (max-width: 950px){
	#benefits{
		width: 80%;
	}
}

@media (max-width: 700px){
	h1{
		font-size: 3.0rem;
	}

	form{
		width: 90%;
	}

	#benefits{
		display: block;
		width: 90%;
	}
		#benefits div{
			width: 100%;
		}
}
