body,
html,
p,
ul{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    top: 0;
    height: 5.5rem;
    width: 100%;
    background-color: #15244C;
    z-index: 1000;
    display: flex;
    align-items: center;  /* Vertically centers children */
    justify-content: space-between;
}

body{
	box-sizing: border-box;
	background-color: #EEF0F2;
	height: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-family: "Titillium Web";
	color: #5D5F5E;
}

    p {
        margin-left: auto;
        margin-right: auto;
    }

	.logo{
        padding-top: 5px;
        padding-left: 3rem;
	}

    .logo img {
        width: 250px;
        height: auto; /* Maintain aspect ratio */
    }

	@media (max-width: 768px) {

        #header {
            height: 4rem;
        }

        .logo{
            padding-left: 1.5rem;
        }

        .logo img {
            width: 150px;
            height: auto; /* Maintain aspect ratio */
        }
    }

    /* Welcome container */

	.welcome-container {
        display: flex;
        justify-content: center;
        padding-top: 75px;
    }

    .welcome-contents {
        display: flex;
        flex-direction: column; /* This makes children stack vertically */
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        max-width: 1750px;
    }

    .welcome-contents h1 {
        font-size: clamp(2.5rem, 3.5vw, 4rem);
        margin-top: 1.75rem;
        margin-bottom: 0.8vw;
    }

    .mobile-break {
        display: none;
    }

    .tri-render-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        max-width: 70vw;
        margin: auto;
        padding: 0;
    }

    .tri-render-container img {
        width: 100%;
        height: auto;
        min-width: 200px;
    }

    .welcome-contents h2 {
        font-size: clamp(1.75rem, 2vw, 3rem);
        margin-top: 0;
        margin-top: -0.5vw;
        margin-bottom: 0.5vw;
    }

    .scroll-to-learn-more h2 {
        font-size: clamp(1.25rem, 1.5vw, 1.75rem);
        font-weight: bold;
        font-style: italic;
        color: #5D5F5E;
    }

    .mobile-only {
        display: none;
    }

    @media (max-width: 768px) {
        
        .welcome-contents h1 {
            font-size: 2.5rem;
            margin-top: 0.4rem;
            margin-bottom: 0.25rem;
            line-height: 1.25;
        }

        .mobile-break {
            display: inline;
        }

        .swiper {
            width: 100%;
            max-width: 85vw;
            margin: 0 auto;
            box-sizing: border-box;
        }

        .swiper-container .swiper-wrapper {
            height: 92%;
        }

        .swiper-slide {
            width: 100% !important;
            box-sizing: border-box;
        }

        .swiper-container img {
            display: block;
            width: 100%;
            height: auto;
        }

        .swiper-container .swiper-pagination {
            position: relative;
            text-align: center;
        }

        .mobile-only {
            display: block;
            max-width: 90vw;
            margin: auto;
        }

        .welcome-contents h2 {
            font-size: 1.4rem;
            margin-bottom: 0.25rem;
            line-height: 1.25;
        }

        .desktop-only {
            display: none;
        }

    }

    /* Section header styling */

    .section-header {
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        padding-top: 20px;
    }

    .section-header h1 {
        margin: 0px;
    }

    @media (max-width: 768px) {
        
        .section-header {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            line-height: 1.2;
        }

        .section-header h1 {
            font-size: 2rem;
            max-width: 88%;
        }
    }

    /* Problem/opportunity section */

    .problem-overview-container h2 {
        font-size: 1.6rem;
        max-width: 70%;
        margin: auto;
    }

    .cost-tile-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 20px 0;
        justify-items: center;
        max-width: 75%;
        margin: auto;
    }

    .cost-tile {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        background-color: #EEF0F2;
        border: 1px solid #ddd;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .cost-tile i {
        justify-self: center;
    }

    .cost-tile .percentage-display {
        font-size: 3rem;
        font-weight: bold;
        padding-right: 25px;
        justify-self: center;
    }

    .tile-contents {
        line-height: 1.15;
        width: 95%;
    }

    /* Technology overview section */

    .technology-overview-container {
        width: 80%;
        max-width: 1220px;
        margin: auto;
    }

    .technology-overview-container h2 {
        font-size: 1.6rem;
        width: 74%;
        margin: auto;
        margin-top: 0.5rem;
        line-height: 1.35;
    }

    .remote-conferencing-images-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* space between images */
        margin: 2rem;
        margin-top: 1rem;
    }

    .remote-conferencing-images-grid img {
        width: 100%;  /* smaller than 100% */
        max-width: 600px; /* limit max image width */
        height: auto;
        display: block;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .ai-conferencing-images-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* space between images */
        margin: 2rem;
    }

    .ai-conferencing-images-grid img {
        width: 70%;  /* smaller than 100% */
        max-width: 600px; /* limit max image width */
        height: auto;
        display: block;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

	.benefit i {
        padding-top: 20px; /* Adjust the padding as needed */
    }

    /* Sign-up form styling */

    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto; /* Center the form horizontally */
    }

    .input-container {
        display: flex;
        flex-direction: row;
        gap: 26px;
        margin: 0 auto; /* Center the form horizontally */
    }

    input {
        margin-bottom: 15px; /* Adjust spacing between fields */
        padding: 10px; /* Optional: Adjust padding for better appearance */
    }
    
    input[type="text"], input[type="email"] {
        font-family: "Titillium Web";
        font-weight: bold;
        font-size: 1.3rem;
        width: 350px;
    }

    .submit-button-container {
        padding-top: 13px;
    }

    .signup-btn {
        padding: 10px 20px;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: #EEF0F2;
        color: #15244C;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        font-family: "Titillium Web";
        max-width: 200px;
        margin: 0 auto;
    }

    /* Applications Section */

   .application-tile-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 20px 0;
        justify-items: center;
        max-width: 75%;
        margin: auto;
    }

    .application-tile {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        border: 1px solid #ddd;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .application-tile i {
        justify-self: center;
        padding: 15px;
        padding-right: 25px;
    }

    .application-tile .application-title {
        font-size: 1.6rem;
        line-height: 1.35;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
    }

    .application-tile .application-description {
        font-size: 1.3rem;
        line-height: 1.35;
        margin-top: 5px;
        margin-bottom: 0;
    }

    /* Technology overview section */

    .benefit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 45px;
        padding-top: 5px;
        margin: 0 auto;
        gap: 40px;
        max-width: 1400px;
    }

    .benefit:last-child {
        padding-bottom: 10px; /* Reduced bottom padding */
    }

    .benefit-text {
        width: 50%;
        padding: 20px; /* Padding inside each section */
        max-width: 30%;
    }

    .benefit-text h2 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 1.6rem;
    }

    .benefit-text p {
        margin: 0 auto;
        font-size: 1.3rem;
        line-height: 1.35;
    }

    .benefit-image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 32%;
    }

    .benefit-image img {
        width: 100%; /* Adjust the width as needed */
        height: auto;
        margin: 0;
    }

    @media (max-width: 1000px) {
        .benefit {
            flex-direction: column; /* Stack text and image vertically */
            padding: 5px; /* Adjust padding for smaller screens */
            gap: 0;
        }

        .benefit:last-child {
            padding-bottom: 0; /* Reduced bottom padding */
        }

        .benefit-text {
            order: 2; /* Text comes second */
            margin: 0 0; /* Remove side margins for small screens */
            padding-top: 0;
            width: 85%;
            max-width: 300px;
        }

        .benefit-text h2 {
            font-size: 1.6rem;
            line-height: 1.3;
        }

        .benefit-text p {
            font-size: 1rem;
        }

       .benefit-image {
            order: 1; /* Image comes first */
            margin: 0 auto; /* Remove side margins for small screens */
            padding: 10px;
            width: 88%;
            max-width: 400px;
        }
    }

    /* Comparison Section */

    .comparison-container {
        padding: 2rem;
        overflow-x: auto;
        max-width: 1400px;
        margin: auto;
    }

    .comparison-table {
        width: 80%;
        border-collapse: collapse;
        text-align: center;
        margin-top: 1rem;
        margin: auto;
    }

    .comparison-table thead {
        background-color: #f0f0f0;
    }

    .comparison-table th,
    .comparison-table td {
        padding: 0.75rem;
        border: 1px solid #ccc;
        font-size: 1.2rem; 
    }

    th em {
        display: block;
        font-style: italic;
        font-size: 0.85em; /* Adjust as needed */
        margin-top: 4px;   /* Optional: adds space from heading */
    }

    th .competitor-label {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.35;
    }

    thead tr {
        background-color: #C0C4C8; /* darker shade for header */
    }

    /* Zebra shading */
    tr:nth-child(even) {
        background-color: #e1e4e7; /* slightly darker than #EEF0F2 */
    }

    @media (max-width: 768px) {
        .comparison-table th,
        .comparison-table td {
            font-size: 0.85rem; /* or whatever size you want */
        }

        th .competitor-label {
            font-size: 1rem;
        }

        .comparison-table {
            min-width: 700px;
        }
    }

    /* Pricing section */

    .pricing-container {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(2, minmax(0, 1fr));  /* Force columns to be of equal width */
        gap: 50px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .product-column {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: center;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .product-column h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .product-image {
        width: auto;
        /* height: 50%; */
        height: 25vw;
        margin: 0;
    }

    .product-intro {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-description {
        margin: 10px;
        width: 80%;
        margin: auto;
        line-height: 1.35;
    }

    .product-dimensions {
        font-size: 1.2rem;
        color: #666;
        margin: 10px;
        font-style: italic;
    }

    .product-price {
        font-size: 1.2rem;
        font-weight: 700;
        color: #111;
        margin: 15px;
    }

    /* Founder Section */

    .founder-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 50px;
        max-width: 1800px;
    }

    .founder-tile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .founder-tile p {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .founder-tile p:last-child {
        margin-bottom: 8px;
    }

    .founder-summary {
        align-items: center;
    }

    .founder-summary h2 {
        margin: 0;
        font-size: 2.2rem;
    }

    .founder-summary h3 {
        margin: 0;
        font-size: 1.75rem;
    }

    .founder-image {
        width: 375px; /* Adjust image width */
        margin: 15px;
    }

    .founder-description {
        text-align: justify;
        width: 44%;
    }

    .founder-description a {
        text-decoration: none;
        color: inherit; /* This makes the link color match the surrounding text */
    }

    @media (max-width: 1280px) {

        .founder-container {
            gap: 0;
            max-width: 100%;
        }

        .founder-tile {
            max-width: 94%;
        }

        .founder-description {
            width: 56%;
        }

        .founder-tile p {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .founder-description a {
            font-size: 1.3rem;
        }

        @media (max-width: 1000px) {

            .founder-container {
                gap: 0;
                max-width: 600px;
            }
    
            .founder-tile {
                flex-direction: column; /* Stack founders vertically */
                padding: 10px; /* Adjust padding for smaller screens */
                gap: 0;
            }
    
            .founder-image {
                width: 80%;
                margin-top: 5px;
                margin-bottom: 2px;
                max-width: 300px;
            }
    
            .founder-summary h2 {
                font-size: 1.6rem;
            }
    
            .founder-summary h3 {
                font-size: 1.3rem;
            }
    
            .founder-description {
                width: 92%;
                text-align: left;
            }
    
            .founder-description p {
                font-size: 1rem;
                line-height: 1.35;
                margin: 15px;
            }

            .founder-description a {
                font-size: 1rem;
            }

            .founder-description a {
                text-decoration: none;
                color: inherit; /* This makes the link color match the surrounding text */
            }
        }
    }

    .partner-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 45px 45px;
      margin: auto;
      margin-top: 10px;
      width: 800px;
    }

    .partner-if {
      width: 300px;
      height: auto;
      margin-top: 7px;
    }

    .partner-nvidia {
      width: 290px;
      height: auto;
      margin: 0px;
      margin-top: 2px;
    }

    .partner-uofa {
        width: 305px;
        height: auto;
        margin: 0px;
    }

    .partner-uoft {
      padding-top: 3px;
      width: 325px;
      height: auto;
      margin: 0px;
    }

    @media (max-width: 768px) {
        .partner-container {
            display: flex;
            flex-direction: column; /* Stack founders vertically */
            padding-top: 8px; /* Adjust padding for smaller screens */
            gap: 5px;
            width: 100%;
        }

        .partner-logo {
            margin: 0 auto; /* Remove side margins for small screens */
            width: 80%;
        }

       .partner-if {
          width: 190px;
          height: auto;
          margin: 0px;
        }

        .partner-nvidia {
          width: 180px;
          height: auto;
          margin: 0px;
        }

        .partner-uofa {
            width: 180px;
            height: auto;
            margin: 0px;
            margin-top: 7px;
        }
  
        .partner-uoft {
            width: 170px;
            height: auto;
            margin: 0px;
        }
    }

    .spacer {
        height: 40px;
    }

    .contact-form {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .contact-form a {
        color: #15244C;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        .contact-form {
            padding-bottom: 0.5rem;
            padding-top: 0.3rem;
            width: 85%;
        }

        .contact-form p {
            font-size: 1rem;
         }

        .contact-form a {
            color: #15244C;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .footer-copyright {
        margin-top: 18px;
        width: 100%;
        height: 45px;
    }

    .footer-copyright p {
        text-align: center;
        line-height: 20px;
    }

    .copyright-symbol {
        font-size: 28px;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        .footer-copyright {
            margin-top: 15px;
            margin-bottom: 15px;
            height: 30px;
        }

        .footer-copyright p {
            font-size: 1rem;
            line-height: 0;
        }

        .copyright-symbol {
            font-size: 1.45rem;
        }
    }

    ul.social-icons{
		float: right;
		margin: 0;
		padding: 20px;
		padding-right: 3rem;
	}

	ul{
		list-style-type: circle;
	}
		li{
			display: inline-block;
			margin: 0 11px;
			list-style-type: circle;
		}
			a {
				color: #EEF0F2;
				text-decoration: none;
				font-size: 1.4rem;
			}

    @media (max-width: 768px) {
        ul {
            list-style-type: circle;
        }
            li{
                display: inline-block;
                margin: 0 6px;
                list-style-type: circle;
            }
                a {
                    text-decoration: none;
                    font-size: 1rem;
                }

        ul.social-icons {
            padding-top: 15px;
            padding-right: 1.5rem;
        }
    }

    .hr-div {
        padding-top: 25px;    /* Adjust the top padding as needed */
        padding-right: 15%;  /* Adjust the right padding as needed */
        padding-left: 15%;   /* Adjust the left padding as needed */
        text-align: center;       /* Center the hr element */
        margin: 0px 0px;
    }

    .hr {
        border: none;             /* Remove default border */
        border-top: 2px solid #A9A9A9; /* Define the line using the border property */
        display: block;
        margin: 0px 0px;          /* Center the line horizontally */
    }

    .spacer-2 {
        padding: 5px;      /* Adds space inside the element */
    }

    @media (max-width: 768px) {
        .spacer-1 {
            display: none;
        }

        .spacer-2 {
            display: none;
        }

        .welcome-message h1 {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .hr-div {
            padding-top: 5px;    /* Adjust the top padding as needed */
            padding-right: 10%;  /* Adjust the right padding as needed */
            padding-left: 10%;   /* Adjust the left padding as needed */
            text-align: center;       /* Center the hr element */
            margin: 0px 0px;
        }
    }
