body,
html,
p,
ul{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
}

body{
	box-sizing: border-box;
	background-color: #EEF0F2;
	height: 100%;
	text-align: center;
	font-size: 1.3rem;
	font-family: "Titillium Web";
	color: #5D5F5E;
	background-color: #15244C;
}

    input[type="text"], input[type="email"] {
        font-family: "Titillium Web";
        font-weight: bold;
        font-size: 1.5rem;
    }

	.logo{
		float: left;
		width: 50px;
		height: 50px;
	}

    p {
        margin-left: auto;
        margin-right: auto;
    }

	img {
	    margin-top: 0px;
		margin-bottom: 30px;
		color: #15244C;
	}

	.benefit i {
        padding-top: 20px; /* Adjust the padding as needed */
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 400px; /* Set the maximum width for the form */
        margin: 0 auto; /* Center the form horizontally */
    }

    input {
        margin-bottom: 15px; /* Adjust spacing between fields */
        padding: 10px; /* Optional: Adjust padding for better appearance */
    }

    .signup-btn {
        padding: 10px 20px;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: #EEF0F2;
        color: #15244C;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        font-family: "Titillium Web";
        max-width: 200px;
        margin: 0 auto;
    }

	.welcome-container {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 60px;
        width: 100%;
    }

	.welcome-message {
        width: 55%;
        padding: 20px;
        padding-left: 100px;
        color: #EEF0F2;
    }

    .welcome-message h1 {
        font-size: 4.5rem;
        margin-top: 45px;
        margin-bottom: 0px;
    }

    .welcome-message .emphasized {
        font-weight: bold;
    }

    .welcome-message p {
        font-size: 2rem;
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cilindir-picture-container {
        display: flex;
        width: 45%;
        padding: 50px;
        padding-left: 65px;
        align-items: center;
        color: #5D5F5E;
    }

    @media (max-width: 768px) {
        .welcome-container {
            flex-direction: column; /* Stack columns vertically on mobile */
            align-items: center; /* Center align items */
        }

        .welcome-message {
            order: 1; /* Stack this first */
        }

        .cilindir-picture-container {
            order: 2; /* Stack this second */
        }
    }

    .section-header {
        font-size: 2rem;
        background-color: #EEF0F2;
        display: inline-block;
        width: 100%;
        padding-top: 20px;
    }

	.mission-container {
        display: flex;
        justify-content: space-around;
        background-color: #EEF0F2;
    }

    .mission {
        text-align: center;
        width: 25%;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #EEF0F2;
        color: #5D5F5E;
    }

    .mission p {
        max-width: 80%;
    }

    .tile-container {
        width: 100%; /* Full width of the container */
        background-color: #EEF0F2; /* Background color for the full width */
        display: flex; /* Flex to center the content */
        justify-content: center; /* Center the grid horizontally */
        padding: 20px 0; /* Add some vertical padding to the container */
        box-sizing: border-box; /* Include padding in width */
    }

    .tile-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
        grid-template-rows: repeat(3, 1fr); /* 3 rows of equal height */
        gap: 50px; /* Adjust the space between tiles */
        width: 100%; /* Full width of the container */
        max-width: 1200px; /* Optional: Maximum width for the grid */
        margin: auto; /* Center the grid */
        background-color: #EEF0F2;
    }

    .tile {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center;
        justify-content: center;
        background-color: #EEF0F2; /* Background color for tiles */
        border: 1px solid #ddd; /* Border for tiles */
        padding: 20px; /* Padding inside tiles */
        text-align: center; /* Center text */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .app-name {
        font-size: 2rem; /* Font size for application name */
        font-weight: bold; /* Bold for the application name */
        margin-bottom: 5px; /* Space between application name and description */
    }

    .app-description {
        font-size: 1.5rem; /* Font size for description */
        font-style: italic; /* Italicize the description */
        text-align: center; /* Center the description text */
    }

    @media (max-width: 768px) {
        .tile-grid {
            grid-template-columns: 1fr; /* Change to a single column layout */
            grid-template-rows: auto; /* Adjust row height to content */
            gap: 20px; /* Adjust the gap for smaller screens */
            width: 85%;
        }
    }

    .benefit {
        display: flex;
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        text-align: center; /* Centers text within text container */
        padding: 20px; /* Padding inside the benefit section */
        margin: 0 auto; /* Center the benefit section horizontally */
        background-color: #EEF0F2;
    }

    .benefit-text {
        flex: 1;
        padding: 20px; /* Padding inside each section */
        max-width: 500 px;
        margin-right: 300px;
    }

    .benefit-text-reverse {
        flex: 1;
        padding: 20px; /* Padding inside each section */
        max-width: 500 px;
        margin-left: 300px;
    }

    .benefit-text p,
    .benefit-text-reverse p {
        max-width: 400px; /* Set a max-width for the paragraph text */
        margin: 0 auto; /* Center the paragraph within the container */
    }

    .benefit-image {
        flex: 1;
        display: flex; /* Make sure the image container is a flex container */
        align-items: center; /* Center image vertically within the container */
        justify-content: center; /* Center image horizontally within the container */
        padding: 20px; /* Padding inside each section */
        margin-left: 300px;
    }

    .benefit-image-reverse {
        flex: 1;
        display: flex; /* Make sure the image container is a flex container */
        align-items: center; /* Center image vertically within the container */
        justify-content: center; /* Center image horizontally within the container */
        padding: 20px; /* Padding inside each section */
        margin-right: 300px;
    }

    .benefit-image img, .benefit-image-reverse img {
        width: 500px; /* Adjust the width as needed */
        height: auto;
        margin: 0;
    }

    @media (max-width: 768px) {
        .benefit {
            flex-direction: column; /* Stack text and image vertically */
            padding: 10px; /* Adjust padding for smaller screens */
        }

        .benefit-text,
        .benefit-text-reverse {
            order: 2; /* Text comes second */
            margin: 0 auto; /* Remove side margins for small screens */
        }

       .benefit-image,
        .benefit-image-reverse {
            order: 1; /* Image comes first */
            margin: 0 auto; /* Remove side margins for small screens */
        }

        .benefit-image img,
        .benefit-image-reverse img {
            width: 100%; /* Make images responsive */
        }
    }

    .founder-container {
        display: flex;
        justify-content: space-around;
        background-color: #EEF0F2;
    }

    .founder-left {
        text-align: center;
        width: 24%;
        padding: 20px;
        margin-left: 300px;
        border: 1px solid #ddd; /* Add border for visual separation */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .founder-left h2 {
        margin: 0px;
    }

    .founder-left h4 {
        margin-top: 0px;
    }

    .founder-right h2 {
        margin: 0px;
    }

    .founder-right h4 {
        margin-top: 0px;
    }

    .founder-right {
        text-align: center;
        width: 24%;
        padding: 20px;
        margin-right: 300px;
        border: 1px solid #ddd; /* Add border for visual separation */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    }

    .founder-image {
        width: 250px; /* Adjust image width */
        border-radius: 25%; /* Rounded image */
        margin: 15px;
    }

    @media (max-width: 768px) {
        .founder-container {
            flex-direction: column; /* Stack founders vertically */
            padding: 10px; /* Adjust padding for smaller screens */
        }

        .founder-left {
            margin: 0 auto; /* Remove side margins for small screens */
            width: 80%;
        }

       .founder-right {
            margin: 0 auto; /* Remove side margins for small screens */
            width: 80%;
       }

       .founder-left {
           margin-bottom: 30px; /* Add vertical spacing below the left founder */
       }
    }

    .contact-form {
        background-color: #EEF0F2;
        padding-bottom: 30px;
    }

     .contact-form p {
        max-width: 700px;
    }

    .iframe-container {
        position: relative; /* To position the iframe within the container */
        height: 500px; /* Set height to 0 initially */
        overflow: hidden; /* Hide any overflowing content */
        max-width: 100%; /* Make sure it doesn't overflow */
    }

    .iframe-container iframe {
        position: absolute; /* Position the iframe absolutely within the container */
        top: 0;
        left: 0;
        width: 100%; /* Full width for responsiveness */
        height: 100%; /* Full height for responsiveness */
        border: 0; /* Remove border */
    }

    @media (max-width: 768px) {
        .contact-form {
            padding: 10px; /* Reduce padding on smaller screens */
        }
    }

    .contact-form a {
        color: #15244C;
        font-weight: bold;
    }

    .spacer {
        height: 40px;
        background-color: #EEF0F2;
    }

    .footer-copyright {
        display: block;
        margin-top: auto;
        width: 100%;
        height: 45px;
        background-color: #EEF0F2;
    }

    .footer-copyright p {
        text-align: center;
        line-height: 20px;
    }

    .copyright-symbol {
        font-size: 28px;
        vertical-align: middle;
    }

    .logo {
        position: absolute;
        top: 20px; /* Adjust based on your design */
        left: 20px; /* Adjust based on your design */
    }

    .logo img {
        width: 250px;
        height: auto; /* Maintain aspect ratio */
    }

    ul.social-icons{
		float: right;
		margin: 0;
		padding: 20px;
		padding-right: 20px;
	}

	ul{
		list-style-type: circle;
	}
		li{
			display: inline-block;
			margin: 0 11px;
			list-style-type: circle;
		}
			a{
				color: #EEF0F2;
				text-decoration: none;
				font-size: 1.4rem;
			}

    .hr-div {
        background-color: #EEF0F2;
        padding-top: 35px;    /* Adjust the top padding as needed */
        padding-right: 15%;  /* Adjust the right padding as needed */
        padding-left: 15%;   /* Adjust the left padding as needed */
        padding-bottom: 5px;    /* Remove the bottom padding */
        text-align: center;       /* Center the hr element */
        margin: 0px 0px;
    }

    .hr {
        border: none;             /* Remove default border */
        border-top: 2px solid #A9A9A9; /* Define the line using the border property */
        display: block;
        margin: 0px 0px;          /* Center the line horizontally */
    }

    .spacer-1 {
        padding: 10px;      /* Adds space inside the element */
    }

    .spacer-2 {
        padding: 2px;      /* Adds space inside the element */
    }
