<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}

    <main class="page-content">
        {{ partial "page-header.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "section-break.html" . }}

        <div id="scenarios">
            {{ partial "page-header.html" (dict "Title" "Interactive Scenarios") }}
        </div>
        {{ partial "feature-dropdowns/feature-dropdowns.html" .Params.feature_dropdowns }}
        {{ partial "section-break.html" . }}

        {{ partial "page-header.html" (dict "Title" (print
        "The Power of "
        "<span class='line-break-mobile'><br></span>"
        " Interactive AI"
        )) }}
        {{ partial "stat-tile-grid/stat-tile-grid.html" . }}
        {{ partial "section-break.html" . }}

        {{ partial "page-header.html" (dict "Title" "How We Compare") }}
        {{ partial "comparison-table.html" .Params.comparison_table }}

        {{ with .Params.section_footer }}
        {{ partial "section-footer.html" . }}
        {{ end }}
    </main>

    {{ partial "footer.html" . }}

</body>

</html>