<div class="about-us-container">

    <div class="about-mission">
        <h2>Our mission is to humanize how people and AI connect.</h2>

        <p>
            As AI becomes an integral part of our daily lives, it is essential to develop methods of engagement that are
            intuitive, natural, and authentic. We believe this is especially true in eduction, where human-centered
            experiences make learning more engaging, memorable, and accessible.
        </p>

        <p>
            AI systems can access vast amounts of information, adapt to individual learners, and provide real-time
            feedback.
            However, without engaging and intuitive ways to communicate with learners, even the best AI content
            struggles to
            inspire curiosity or sustained interest.
        </p>

        <p>
            That's where we come in. We give AI-based learning and entertainment systems a human spark, enabling users
            to
            interact naturally with AI in ways that strengthen comprehension, build confidence, and motivate learners.
        </p>
    </div>


    <h2>Meet the Founders</h2>

    <div class="founder-container desktop-only">

        <div class="founder-tile">
            <div class="founder-summary">
                <img src="/images/founder/eric.png" alt="Michael Luciuk" class="founder-image">
                <h2>Eric Macrow, CPA, MBA</h2>
                <h3>Co-Founder and CEO</h3>
            </div>

            <div class="founder-description">
                <p>
                    During his tenure in corporate accounting, Eric found workplace training modules uninspiring and
                    inflexible. Instead, he believed that hands-on, interactive experiences were the key to sparking
                    curiosity, improving retention, and inspiring lifelong learning.
                </p>
                <p>
                    With the emergence of AI, Eric co-founded Cilindir to deliver workforce training that captures the
                    engagement and effectiveness of the best personalized, in-person training programs, at scale. Eric's
                    vision has since evolved into our broader mission to make education more engaging, effective, and
                    accessible across diverse learning spaces, including in classrooms, museums, and cultural centers.
                </p>
                <p>
                    Eric is a CPA, with an MBA from the University of Detroit. He previously worked as an
                    Assurance Manager at Ernst & Young and Manulife.
                </p>
            </div>
        </div>

        <div class="founder-tile">
            <div class="founder-summary">
                <img src="/images/founder/michael.png" alt="Michael Luciuk" class="founder-image">
                <h2>Michael Luciuk, MSc</h2>
                <h3>Co-Founder and CTO</h3>
            </div>

            <div class="founder-description">
                <p>
                    As emerging AI technologies like ChatGPT became a regular part of his development workflow,
                    Michael noticed significant limitations in how humans interact with AI compared with how
                    humans interact with each other. He realized that more natural interactions are
                    are essential for building trust with AI, making these systems more accessible and
                    effective in various contexts.
                </p>
                <p>
                    Michael co-founded Cilindir to address this gap in human–AI communication, building the
                    Cilindir Rift to enable more immersive, human-centered learning experiences between AI instructors
                    and human learners.
                </p>
                <p>
                    Michael holds a Master's in Applied Computing from the University of Toronto, with
                    professional experience at American Express, Qoherent (startup), BASF, Imperial Oil, and the
                    Canadian Institute of Space and Atmospheric Studies.
                </p>
            </div>
        </div>
    </div>

    <div class="swiper-container mobile-only" data-pagination=".swiper-pagination">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="founder-tile">
                    <div class="founder-summary">
                        <img src="/founder_headshots/eric.png" alt="Michael Luciuk" class="founder-image">
                        <h2>Eric Macrow, CPA, MBA</h2>
                        <h3>Co-Founder and CEO</h3>
                    </div>

                    <div class="founder-description">
                        <p>
                            During his tenure in corporate accounting, Eric found workplace training modules uninspiring
                            and inflexible. Instead, he believed that hands-on, interactive experiences were the key to
                            sparking curiosity, improving retention, and inspiring lifelong learning.
                        </p>
                        <p>
                            With the emergence of AI, Eric co-founded Cilindir to deliver workforce training that
                            captures the engagement and effectiveness of the best personalized, in-person training
                            programs, at scale. Eric's vision has since evolved into our broader mission to make
                            education more engaging, effective, and accessible across diverse learning spaces, including
                            in classrooms, museums, and cultural centers.
                        </p>
                        <p>
                            Eric is a CPA, with an MBA from the University of Detroit. He previously worked as an
                            Assurance Manager at Ernst & Young and Manulife.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="founder-tile">
                    <div class="founder-summary">
                        <img src="/founder_headshots/michael.png" alt="Michael Luciuk" class="founder-image">
                        <h2>Michael Luciuk, MSc</h2>
                        <h3>Co-Founder and CTO</h3>
                    </div>

                    <div class="founder-description">
                        <p>
                            As emerging AI technologies like ChatGPT became a regular part of his development workflow,
                            Michael noticed significant limitations in how humans interact with AI compared with how
                            humans interact with each other. He realized that more natural interactions are
                            are essential for building trust with AI, making these systems more accessible and
                            effective in various contexts.
                        </p>
                        <p>
                            Michael co-founded Cilindir to address this gap in human–AI communication, building the
                            Cilindir Rift to enable more immersive, human-centered learning experiences between AI
                            instructors and human learners.
                        </p>
                        <p>
                            Michael holds a Master's in Applied Computing from the University of Toronto, with
                            professional experience at American Express, BASF, Imperial Oil, and the Canadian
                            Institute of Space and Atmospheric Studies.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>

</div>