<div class="section-header">
    <h1>About Us</h1>
</div>
<div class="about-us-container">

    <h2>Our mission is to humanize how people and AI connect.</h2>

    <p>
        We believe the evolution of communication technologies is driven by our human need for more immediate
        and interactive ways to connect.
        As more people live and work farther apart—and as AI becomes more present in our lives—we're confronted
        with a new challenge: how to stay connected and build trust across physical distances and digital
        boundaries.
    </p>

    <h2>Meet the Founders</h2>

    <div class="founder-container desktop-only">

        <div class="founder-tile">
            <div class="founder-summary">
                <img src="/founder_headshots/michael.png" alt="Michael Luciuk" class="founder-image">
                <h2>Michael Luciuk, MSc</h2>
                <h3>Co-Founder and CTO</h3>
            </div>

            <div class="founder-description">
                <p>After moving out of province, Michael needed a more natural and immersive way to stay
                    connected with friends and family back home.
                    Instant messaging and video calls just didn't offer the immersion and realism needed for
                    family dinners or drinks out with friends.
                    Michael co-founded Cilindir to overcome these limitations and bring loved ones closer
                    together.
                </p>
                <p>
                    Michael holds a Master's in Applied Computing (MScAC) from the University of Toronto, with
                    professional experience at Qoherent (startup), BASF, Imperial Oil, and the Canadian
                    Institute of Space and Atmospheric Studies.
                    </a>
            </div>
        </div>

        <div class="founder-tile">
            <div class="founder-summary">
                <img src="/founder_headshots/eric.png" alt="Michael Luciuk" class="founder-image">
                <h2>Eric Macrow, CPA, MBA</h2>
                <h3>Co-Founder and CEO</h3>
            </div>

            <div class="founder-description">
                <p>
                    Eric has over five years of experience at a Big Four accounting firm, where face-to-face
                    interactions are critical for productivity, relationship building, and business success.
                    With the shift to remote work, Eric has experienced firsthand the shortcomings of
                    traditional video platforms and their impact on his organization.
                    Eric co-founded Cilindir to bridge this gap and deliver accessible remote communication
                    solutions that effectively replicate the nuances of in-person collaboration.
                </p>
                <p>Eric is a CPA, with an MBA from the University of Detroit. He previously worked as an
                    Assurance Manager at Ernst & Young and Manulife.</p>
            </div>
        </div>
    </div>

    <div class="swiper-container founder-carousel mobile-only">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="founder-tile">
                    <div class="founder-summary">
                        <img src="/founder_headshots/michael.png" alt="Michael Luciuk" class="founder-image">
                        <h2>Michael Luciuk, MSc</h2>
                        <h3>Co-Founder and CTO</h3>
                    </div>

                    <div class="founder-description">
                        <p>After moving out of province, Michael needed a more natural and immersive way to stay
                            connected with friends and family back home.
                            Instant messaging and video calls just didn't offer the immersion and realism needed
                            for family dinners or drinks out with friends.
                            Michael co-founded Cilindir to overcome these limitations and bring loved ones
                            closer together.
                        </p>
                        <p>
                            Michael holds a Master's in Applied Computing (MScAC) from the University of
                            Toronto, with professional experience at Qoherent (startup), BASF, Imperial Oil, and
                            the Canadian Institute of Space and Atmospheric Studies.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="founder-tile">
                    <div class="founder-summary">
                        <img src="/founder_headshots/eric.png" alt="Michael Luciuk" class="founder-image">
                        <h2>Eric Macrow, CPA, MBA</h2>
                        <h3>Co-Founder and CEO</h3>
                    </div>

                    <div class="founder-description">
                        <p>
                            Eric has over five years of experience at a Big Four accounting firm, where
                            face-to-face interactions are critical for productivity, relationship building, and
                            business success. With the shift to remote work, Eric experienced firsthand the
                            shortcomings of traditional video platforms and their impact on his organization.
                            Eric co-founded Cilindir to bridge this gap and deliver accessible remote
                            communication solutions that effectively replicate the nuances of in-person
                            collaboration.
                        </p>
                        <p>Eric is a CPA, with an MBA from the University of Detroit. He previously worked as an
                            an Assurance Manager at EY and Manulife.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="founder-pagination"></div>
    </div>

</div>