<div class="page-header">
    <h1>Cross-Context Education</h1>
</div>

From schools and universities to museums and cultural centers, Cilindir scales across diverse educational settings.

<div class="application-container">

    <div class="application-tile-grid desktop-only">
        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-user-group fa-4x" title="Iconic Encounters"></i>
            <div class="application-contents">
                <div class="application-title">Iconic Encounters</div>
                <div class="application-description">Converse with innovators, political leaders, and cultural icons
                    brought to life as AI characters.
                </div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-earth-americas fa-4x" title="Exploration at Scale"></i>
            <div class="application-contents">
                <div class="application-title">Exploration at Scale</div>
                <div class="application-description">Explore ancient worlds, iconic landmarks, and scientific wonders in
                    full scale.</div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-brain fa-4x" title="Adaptive Learning"></i>
            <div class="application-contents">
                <div class="application-title">Adaptive Learning</div>
                <div class="application-description">Learn interactively, with safe AI responses tailoring to guest
                    curiosity and comprehension.</div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-scroll fa-4x" title="Interactive Stories"></i>
            <div class="application-contents">
                <div class="application-title">Interactive Stories</div>
                <div class="application-description">Engage with lessons and concepts through interactive and emotive
                    storytelling.</div>
            </div>
        </div>
    </div>

    <div class="swiper-container application-carousel mobile-only">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-user-group fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Iconic Encounters</div>
                        <div class="application-description">Converse with innovators, political leaders, and cultural
                            icons brought to life as AI characters.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-earth-americas fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Exploration at Scale</div>
                        <div class="application-description">Explore ancient worlds, iconic landmarks, and scientific
                            wonders in full scale.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-brain fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Adaptive Learning</div>
                        <div class="application-description">Learn interactively, with safe AI responses tailoring to
                            guest curiosity and comprehension.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-scroll fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Interactive Stories</div>
                        <div class="application-description">Engage with lessons and concepts through interactive and
                            emotive storytelling.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-pagination"></div>
    </div>

</div>