<div class="section-header">
    <h1>Applications</h1>
</div>
<div class="application-container">

    <div class="application-tile-grid desktop-only">
        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-users fa-4x" title="Communication & Collaboration"></i>
            <div class="application-contents">
                <div class="application-title">Communication & Collaboration</div>
                <div class="application-description">More natural and immersive collaboration, supercharging
                    engagement and productivity.</div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-chalkboard-user fa-4x" title="Training & Development"></i>
            <div class="application-contents">
                <div class="application-title">Training & Development</div>
                <div class="application-description">More engaging and practical training, with AI-powered
                    feedback for better learning and retention.</div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-handshake fa-4x" title="Networking"></i>
            <div class="application-contents">
                <div class="application-title">Networking</div>
                <div class="application-description">Build trust and rapport remotely, reducing the need for
                    time-consuming and expensive travel.</div>
            </div>
        </div>

        <div class="application-tile">
            <i aria-hidden="true" class="fas fa-user-tie fa-4x" title="Recruitment"></i>
            <div class="application-contents">
                <div class="application-title">Recruitment</div>
                <div class="application-description">Make hiring smarter and more genuine with face-to-face
                    interviews with remote candidates.</div>
            </div>
        </div>
    </div>

    <div class="swiper-container application-carousel mobile-only">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-users fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Communication & Collaboration</div>
                        <div class="application-description">More natural and immersive collaboration,
                            supercharging engagement and productivity.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-chalkboard-user fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Training & Development</div>
                        <div class="application-description">More engaging and practical training, with
                            AI-powered feedback for better learning and retention.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-handshake fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Networking</div>
                        <div class="application-description">Build trust and rapport remotely, reducing the need
                            for time-consuming and expensive travel.</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="application-tile">
                    <i class="fas fa-user-tie fa-3x" aria-hidden="true"></i>
                    <div class="application-contents">
                        <div class="application-title">Recruitment</div>
                        <div class="application-description">Make hiring smarter and more genuine with
                            face-to-face interviews with remote candidates.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-pagination"></div>
    </div>

    <h2>Not shopping for business?
        <a id="contact-link-desktop" class="contact-link desktop-only">Contact us</a>
        <a id="contact-link-mobile" class="contact-link mobile-only">Contact us</a>
        to discover how the Rift is transforming professional services, telemedicine, personal connection, and
        more.
    </h2>

</div>