<footer class="footer">
    <!-- Logo on the left -->
    <div class="footer-logo">
        <img src="/branding/cilindir-secondary-light.svg" alt="Cilindir: From Any Place to Every Face">
    </div>

    <!-- Copyright text and social icons container -->

    <div class="footer-copyright">
        <p>&copy; {{ now.Year }} Cilindir</p>
    </div>

    <!-- Social icons on the right -->
    <div class="footer-social">
        <ul class="social-icons">
            {{ if isset .Site.Params "facebook" }}<li><a href="{{ .Site.Params.facebook }}" title="Facebook"><i aria-hidden="true" class="fab fa-facebook"></i></a></li>{{ end }}
            {{ if isset .Site.Params "instagram" }}<li><a href="{{ .Site.Params.instagram }}" title="Instagram"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>{{ end }}
            {{ if isset .Site.Params "linkedin" }}<li><a href="{{ .Site.Params.linkedin }}" title="Linkedin"><i aria-hidden="true" class="fab fa-linkedin"></i></a></li>{{ end }}
            {{ if isset .Site.Params "github" }}<li><a href="{{ .Site.Params.github }}" title="GitHub"><i aria-hidden="true" class="fab fa-github"></i></a></li>{{ end }}
        </ul>
    </div>

</footer>