<header id="header">
    <div class="logo">
        <a href="#top">
            <img src="/branding/cilindir-logo-long-dark.svg" alt="Cilindir Logo">
        </a>
    </div>

    <div class="header-right">
        <!-- Main Navigation -->
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#">Applications ▾</a>
                    <ul class="dropdown-content">
                        <li><a href="/applications/museums/">Museums</a></li>
                        <li><a href="/applications/education/">Education</a></li>
                    </ul>
                </li>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>

        <button id="book-a-demo-btn-desktop" class="header-demo-link desktop-only">Request a Demo</button>

        <ul class="social-icons">
            <li><a href="https://www.linkedin.com/company/cilindir/" title="LinkedIn"><i aria-hidden="true"
                        class="fab fa-linkedin fa-lg"></i></a></li>
            <li><a href="https://github.com/Cilindir/" title="GitHub"><i aria-hidden="true"
                        class="fab fa-github fa-lg"></i></a></li>
        </ul>
    </div>
</header>