<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/components/header.css">
    <link rel="stylesheet" href="/assets/css/components/footer.css">
    <link rel="stylesheet" href="/assets/css/components/hero.css">
    <link rel="stylesheet" href="/assets/css/components/problem.css">
    <link rel="stylesheet" href="/assets/css/components/solution.css">
    <link rel="stylesheet" href="/assets/css/components/technology-overview.css">
    <link rel="stylesheet" href="/assets/css/components/applications.css">
    <link rel="stylesheet" href="/assets/css/components/how-we-compare.css">
    <link rel="stylesheet" href="/assets/css/components/pricing.css">
    <link rel="stylesheet" href="/assets/css/components/request-demo.css">
    <link rel="stylesheet" href="/assets/css/components/about-us.css">
    <link rel="stylesheet" href="/assets/css/components/innovation-ecosystem.css">
    <link rel="stylesheet" href="/assets/css/components/hr.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/fontawesome-6/css/fontawesome.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-6/css/solid.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-6/css/brands.min.css">
    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/opengraph.html" . }}
    <link rel="icon" type="image/svg" href="/images/branding/cilindir-favicon-light.svg"
        media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg" href="/images/branding/cilindir-favicon-dark.svg"
        media="(prefers-color-scheme: dark)">

    <script src="/assets/js/header-dropdown.js" defer></script>
    <script src="/assets/js/header-hamburger.js" defer></script>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>