<header id="header">
    <div class="logo">
        <a href="/">
            <img src="/images/branding/cilindir-logo-long-dark.svg" alt="Cilindir Logo">
        </a>
    </div>

    <div class="header-right desktop-only">
        <!-- Main Navigation -->
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Applications <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="/applications/museums/">Museums</a></li>
                        <li><a href="/applications/education/">Education</a></li>
                    </ul>
                </li>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>

        <div class="header-demo">
            <a href="/demo/" target="_blank" rel="noopener noreferrer" id="book-a-demo-btn-desktop"
                class="header-demo-link">
                Request a Demo
            </a>
        </div>

        <ul class="social-icons">
            <li>
                <a href="https://www.linkedin.com/company/cilindir/" title="LinkedIn" target="_blank"
                    rel="noopener noreferrer">
                    <i aria-hidden="true" class="fab fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/Cilindir/" title="GitHub" target="_blank" rel="noopener noreferrer">
                    <i aria-hidden="true" class="fab fa-github fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Hamburger menu for mobile -->
    <button id="hamburger" class="mobile-only" aria-label="Open Menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

</header>

<!-- Mobile nav menu -->
<nav id="mobile-nav" class="mobile-only">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="mobile-dropdown">
            <a href="#" class="dropdown-toggle">Applications <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="/applications/museums/">Museums</a></li>
                <li><a href="/applications/education/">Education</a></li>
            </ul>
        </li>
        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/demo/">Request a Demo</a></li>
        <li class="social-icons-row">
            <a href="https://www.linkedin.com/company/cilindir/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/Cilindir/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-lg"></i>
            </a>
        </li>
    </ul>
</nav>