<div class="welcome-container">
    <div class="welcome-contents">
        <h1>Introducing the<br class="mobile-break">&nbsp;Cilindir Rift</h1>

        <!-- Desktop grid container -->
        <div class="tri-render-container desktop-only">
            <img src="/product_renders/tri_render_grid/2_panel_scene1_presentation.png"
                alt="Cilindir Rift: Presentation">
            <img src="/product_renders/tri_render_grid/2_panel_scene2_learning.png" alt="Cilindir Rift: Learning">
            <img src="/product_renders/tri_render_grid/2_panel_scene3_conferencing.png"
                alt="Cilindir Rift: Conferencing">
        </div>

        <!-- Mobile swiper container -->
        <div class="swiper-container welcome-carousel mobile-only">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/product_renders/mobile_carousel/eric.png" alt="Cilindir Rift: Presentation" />
                </div>
                <div class="swiper-slide">
                    <img src="/product_renders/mobile_carousel/claudia.png" alt="Cilindir Rift: Learning" />
                </div>
                <div class="swiper-slide">
                    <img src="/product_renders/mobile_carousel/carla.png" alt="Cilindir Rift: Conferencing" />
                </div>
            </div>
            <div class="welcome-pagination"></div>
        </div>

        <h2>Lifelike AI for more immersive learning.</h2>

        <div class="scroll-to-learn-more desktop-only">
            <a href="#problem">
                <h2>Scroll down to learn more</h2>
            </a>
        </div>

    </div>
</div>

<div id="book-a-demo-btn-container" class="page-header mobile-only">
    <button id="book-a-demo-btn-mobile" class="request-demo-btn">Request a Demo</button>
</div>