<div class="section-header">
    <h1>Our Innovation Ecosystem</h1>
</div>
<div class="partner-container">
    <div class="partner-logo">
        <a href="https://innovationfactory.ca/" target="_blank">
            <img src="/partner_logos/iF-Logo_colour-1-300x118.png" alt="NVIDIA Inception Program" class="partner-if">
        </a>
    </div>

    <div class="partner-logo">
        <a href="https://www.nvidia.com/en-us/startups/" target="_blank">
            <img src="/partner_logos/nvidia-inception-program.png" alt="NVIDIA Inception Program"
                class="partner-nvidia">
        </a>
    </div>

    <div class="partner-logo">
        <a href="https://www.ualberta.ca/en/engineering/" target="_blank">
            <img src="/partner_logos/uofa-faculty-of-engineering.png" alt="University of Alberta Faculty of Engineering"
                class="partner-uofa">
        </a>
    </div>

    <div class="partner-logo">
        <a href="https://web.cs.toronto.edu/" target="_blank">
            <img src="/partner_logos/uoft-department-of-computer-science.png"
                alt="University of Toronto Department of Computer Science" class="partner-uoft">
        </a>
    </div>
</div>