<div class="pricing-container">
    <div class="pricing-tile-grid desktop-only">
        <div class="product-column">
            <h2 class="product-name">Rift: Single Panel Unit</h3>
                <img src="/images/renders/pricing/1_panel.png" alt="Rift: Single Panel Unit" class="product-image" />
                <p class="product-dimensions">Dimensions:<br class="mobile-break"> 59" x 83” (1.5 m x 2.1 m)</p>
                <p class="product-description">Perfect for one-on-one learning, with a compact design that
                    fits easily into any space.</p>
                <p class="product-price">Starting at $2,799 USD</p>
        </div>

        <div class="product-column">
            <h2 class="product-name">Rift: Double Panel Unit</h3>
                <img src="/images/renders/pricing/2_panel.png" alt="Rift: Double Panel Unit" class="product-image" />
                <p class="product-dimensions">Dimensions:<br class="mobile-break"> 118" x 83” (3 m x 2.1 m)</p>
                <p class="product-description">Perfect for group experiences, with larger render and
                    user-capture volumes.</p>
                <p class="product-price">Starting at $4,249 USD</p>
        </div>
    </div>

    <div class="swiper-container mobile-only" data-pagination=".swiper-pagination">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-column">
                    <h2 class="product-name">Rift: Single Panel Unit</h2>
                    <img src="/images/renders/pricing/1_panel.png" alt="Rift: Single Panel Unit"
                        class="product-image" />
                    <p class="product-dimensions">Dimensions:<br class="mobile-break"> 59" x 83” (1.5 m x 2.1 m)
                    </p>
                    <p class="product-description">Perfect for one-on-one learning, with a compact design that
                        fits easily into any space.</p>
                    <p class="product-price">Starting at $2,799 USD</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-column">
                    <h2 class="product-name">Rift: Double Panel Unit</h2>
                    <img src="/images/renders/pricing/2_panel.png" alt="Rift: Double Panel Unit"
                        class="product-image" />
                    <p class="product-dimensions">Dimensions:<br class="mobile-break"> 118" x 83” (3 m x 2.1 m)
                    </p>
                    <p class="product-description">Perfect for group experiences, with larger render and
                        user-capture volumes.</p>
                    <p class="product-price">Starting at $4,249 USD</p>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>