<div class="pricing-container">

    <!-- Desktop grid -->
    <div class="pricing-tile-grid desktop-only">
        {{ range . }}
        <div class="product-column">
            <h2 class="product-name">{{ .name }}</h2>
            <img src="{{ .image }}" alt="{{ .alt }}" class="product-image" />
            <p class="product-dimensions">Dimensions: {{ .dimensions }}</p>
            <p class="product-description">{{ .description }}</p>
            <p class="product-price">Starting at {{ .price }}</p>
        </div>
        {{ end }}
    </div>

    <!-- Mobile swiper -->
    <div class="swiper-container mobile-only" data-pagination=".swiper-pagination">
        <div class="swiper-wrapper">
            {{ range . }}
            <div class="swiper-slide">
                <div class="product-column">
                    <h2 class="product-name">{{ .name }}</h2>
                    <img src="{{ .image }}" alt="{{ .alt }}" class="product-image" />
                    <p class="product-dimensions">Dimensions:<span class="line-break-mobile"><br></span>{{ .dimensions
                        }}</p>
                    <p class="product-description">{{ .description }}</p>
                    <p class="product-price">Starting at {{ .price }}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="swiper-pagination"></div>
    </div>

</div>