<div id="book-a-demo-section-header" class="section-header">
    <h1>Request a Demo</h1>
</div>
<div class="book-a-demo-container">

    <div class="column-box">
        <div class="demo-text">
            <h2>Let's connect and explore how Cilindir can supercharge your team's communication.</h2>
            <p>Submit your name and email, and we will reach out to schedule a time to connect and arrange for
                an in-person demonstration of the Rift platform.</p>
        </div>

        <div class="sign-up-form">
            <form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="input-container">
                    <input type="text" placeholder="Your Name" name="FNAME" class="required fname" id="mce-FNAME">
                    <input type="email" placeholder="Your Email" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="submit-button-container">
                    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="submit-btn">
                </div>
            </form>
        </div>
    </div>

    <div class="contact-form">
        <h2>For collaboration, investment, or career inquiries, please reach out to us on <a
                href="https://www.linkedin.com/company/cilindir/people/">LinkedIn.</a></h2>
    </div>

</div>