<div id="next_evolution" class="page-header">
    <h1>Our Technology</h1>
</div>
<div class="rift-overview-container">

    <h2>The Cilindir Rift creates dynamic, conversational, and adaptive learning experiences through natural,
        face-to-face conversations with AI.</h2>

    <div class="remote-conferencing-images-grid desktop-only">
        <img src="/product_renders/eric_carla_conf/carla_left.png" alt="Remote Conferencing with Cilindir" />
        <img src="/product_renders/eric_carla_conf/eric_left.png" alt="Remote Conferencing with Cilindir" />
    </div>

    <div class="swiper-container remote-conferencing-carousel mobile-only">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/product_renders/eric_carla_conf/carla_left.png" alt="Remote Conferencing with Cilindir" />
            </div>
            <div class="swiper-slide">
                <img src="/product_renders/eric_carla_conf/eric_left.png" alt="Remote Conferencing with Cilindir" />
            </div>
        </div>
        <div class="remote-conferencing-pagination"></div>
    </div>

</div>