<div id="technology">
    <div class="technology-overview-container">
        <div class="rift-overview-text">
            <h2>
                The Cilindir Rift is a large projection screen that displays visually realistic interactive
                AI content.
            </h2>
            <h2>
                It enables dynamic, conversational, and adaptive learning experiences through natural,
                face-to-face conversations with AI.
            </h2>
        </div>

        <div class="rift-overview-image">
            <img src="/images/renders/historic_figure.png" alt="Cilindir Rift: Historic Figures" />
        </div>

    </div>
</div>