<div class="section-header">
    <h1>Technology Overview</h1>
</div>
<div class="technology-overview-container">
    <h2>We have combined a range of cutting-edge innovations into a unified platform for next-generation
        communication.</h2>
    <h2>We call it the Cilindir Rift.</h2>
    <p>Click on the tiles below to learn more about our technology.</p>

    <details open>
        <summary>Shared Virtual Spaces</summary>
        <div class="feature-content">
            <img src="/technology_images/planning_session.png" alt="Shared virtual spaces">
            <p>Cilindir enables natural interaction by placing users together in shared virtual spaces—wearables
                free.</p>
        </div>
    </details>

    <details>
        <summary>Full-Body Capture</summary>
        <div class="feature-content">
            <img src="/technology_images/three_person_networking.png" alt="Full Body Capture">
            <p>Video calls show only your shoulders up, while VR platforms reduce you to a cartoonish avatar.
                Cilindir uses an integrated network of cameras to generate a lifelike 3D rendering.</p>
        </div>
    </details>

    <details>
        <summary>Laptop Integration</summary>
        <div class="feature-content">
            <img src="/technology_images/two_people_drinking_tea.png" alt="Laptop Integration">
            <p>Connect your laptop or mobile device to share presentation slides or to receive AI-generated text
                and media directly to your device.</p>
        </div>
    </details>

    <details>
        <summary>Minimal Footprint</summary>
        <div class="feature-content">
            <img src="/technology_images/two_panel_fold.png" alt="Minimal Footprint">
            <p>Engineered with an invisible hinge, the two-panel Rift unit can be folded into a corner or placed
                flat against a wall, allowing for easy integration into existing spaces.</p>
        </div>
    </details>

    <details>
        <summary>Video Conferencing Integration</summary>
        <div class="feature-content">
            <img src="/technology_images/joining_from_computer.png" alt="Cross-Platform Integration">
            <p>Whether you're joining from a Rift or a traditional computer setup, you can still participate in
                the same virtual spaces together with other remote users.</p>
        </div>
    </details>
</div>