<div class="page-header">
    <h1>Technology Overview</h1>
</div>
<div class="technology-overview-container">
    <p>Click on the tiles below to learn more about our technology.</p>

    <details open>
        <summary>AI-Powered Learning</summary>
        <div class="feature-content">
            <img src="/images/stock/planning_session.png" alt="Shared virtual spaces">
            <p>Cilindir enables natural interaction by placing users together in shared virtual spaces—wearables
                free.</p>
        </div>
    </details>

    <details>
        <summary>Headset-Free Immersion</summary>
        <div class="feature-content">
            <img src="/images/stock/three_person_networking.png" alt="Full Body Capture">
            <p>Video calls show only your shoulders up, while VR platforms reduce you to a cartoonish avatar.
                Cilindir uses an integrated network of cameras to generate a lifelike 3D rendering.</p>
        </div>
    </details>

    <details>
        <summary>User Tracking</summary>
        <div class="feature-content">
            <img src="/images/stock/two_people_drinking_tea.png" alt="Laptop Integration">
            <p>Connect your laptop or mobile device to share presentation slides or to receive AI-generated text
                and media directly to your device.</p>
        </div>
    </details>

    <details>
        <summary>Minimal Footprint</summary>
        <div class="feature-content">
            <img src="/images/stock/two_panel_fold.png" alt="Minimal Footprint">
            <p>Engineered with an invisible hinge, the two-panel Rift unit can be folded into a corner or placed
                flat against a wall, allowing for easy integration into existing spaces.</p>
        </div>
    </details>
</div>