<div class="page-header">
    <h1>Our Technology</h1>
</div>
<div class="technology-overview-container">

    <div class="rift-overview-text">
        <h2>
            The Cilindir Rift is a large projection screen that displays visually realistic interactive
            content.
        </h2>
        <h2>
            It enables dynamic, conversational, and adaptive learning experiences through natural,
            face-to-face conversations with AI.
        </h2>
    </div>
    <div class="rift-overview-image">
        <img src="/images/renders/home/historic_figure.png" alt="Cilindir Rift: Historic Figures" />
    </div>

</div>