<div class="tri-render-container">
    <div class="tri-render-contents">

        <!-- Desktop grid container -->
        <div class="image-grid desktop-only">
            {{ range .Params.hero_images }}
            <img src="{{ .src }}" alt="{{ .alt }}">
            {{ end }}
        </div>

        <!-- Mobile swiper container -->
        <div class="swiper-container mobile-only">
            <div class="swiper-wrapper">
                {{ range .Params.hero_images }}
                <div class="swiper-slide">
                    <img src="{{ .src }}" alt="{{ .alt }}">
                </div>
                {{ end }}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>