<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/fontawesome.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/solid.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/brands.min.css">
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<link rel="icon" type="image/svg" href="/branding/cilindir-favicon-light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg" href="/branding/cilindir-favicon-dark.svg" media="(prefers-color-scheme: dark)">
</head>
<body>
    <img class="logo" src="/branding/cilindir-submark.svg" alt="Cilindir" />

    <img src="/branding/cilindir.svg" alt="Cilindir: From Any Place to Every Face" style="width: 350px; height: auto;">

	<ul class="social-icons">
		{{ if isset .Site.Params "linkedin" }}<li><a href="{{ .Site.Params.linkedin }}" title="Linkedin"><i aria-hidden="true" class="fab fa-linkedin"></i></a></li>{{ end }}
		{{ if isset .Site.Params "github" }}<li><a href="{{ .Site.Params.github }}" title="GitHub"><i aria-hidden="true" class="fab fa-github"></i></a></li>{{ end }}
	</ul>

	{{ block "main" . }}
	{{ end }}

	<div>
    {{ with .Site.GetPage "/mission" }}
      {{ .Content }}
    {{ end }}
	</div>

	<div id="benefits">
		{{ range (where .Site.Pages "Section" "benefits") }}
		{{ range .Pages }}
			<div>
				<h2><i class="fas {{ .Params.icon }}"></i>{{ .Title }}</h2>
				{{ .Content }}
			</div>
		{{ end }}
	{{ end }}
	</div>

    <!-- Copyright notice -->
    <footer>
        <p>&copy; Cilindir 2024</p>
    </footer>

</body>
</html>
