<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/fontawesome.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/solid.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/brands.min.css">
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<link rel="icon" type="image/svg" href="/branding/cilindir-favicon-light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg" href="/branding/cilindir-favicon-dark.svg" media="(prefers-color-scheme: dark)">

	<!-- Swiper CSS -->
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<body>

	<header id="header">
		<div class="logo">
			<a href="#top">
				<img src="/branding/cilindir-logo-long-dark.svg" alt="Cilindir Logo">
			</a>
		</div>
		<ul class="social-icons">
			<li><a href="https://www.linkedin.com/company/cilindir/" title="LinkedIn"><i aria-hidden="true" class="fab fa-linkedin fa-lg"></i></a></li>
			<li><a href="https://github.com/Cilindir/" title="GitHub"><i aria-hidden="true" class="fab fa-github fa-lg"></i></a></li>
		</ul>
	</header>

	<div class="page-content">

		<!-- Welcome Container-->
		<div class="welcome-container">
			<div class="welcome-contents">
				<h1>Introducing the<br class="mobile-break"> Cilindir Rift</h1>

				<!-- Desktop grid container -->
				<div class="tri-render-container desktop-only">
					<img src="/product_renders/tri_render_grid/2_panel_scene1_presentation.png" alt="Cilindir Rift: Presentation">
					<img src="/product_renders/tri_render_grid/2_panel_scene2_learning.png" alt="Cilindir Rift: Learning">
					<img src="/product_renders/tri_render_grid/2_panel_scene3_conferencing.png" alt="Cilindir Rift: Conferencing">
				</div>

				<!-- Mobile swiper container -->
				<div class="swiper-container welcome-carousel mobile-only">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
						<img src="/product_renders/mobile_carousel/eric.png" alt="Cilindir Rift: Presentation" />
						</div>
						<div class="swiper-slide">
						<img src="/product_renders/mobile_carousel/claudia.png" alt="Cilindir Rift: Learning" />
						</div>
						<div class="swiper-slide">
						<img src="/product_renders/mobile_carousel/carla.png" alt="Cilindir Rift: Conferencing" />
						</div>
					</div>
					<div class="welcome-pagination"></div>
				</div>

				<h2>Where presence powers team performance and growth.</h2>
			
				<div class="scroll-to-learn-more desktop-only">
					<a href="#problem"><h2>Scroll down to learn more</h2></a>
				</div>
				
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Problem Container -->
		<div id="problem" class="section-header">
			<h1>The Problem: Video conferencing doesn't always cut it.</h1>
		</div>
		<div class="problem-overview-container">

			<h2 class="whats-lost-message">What's lost when face-to-face nuance is reduced to video tiles and message threads?</h2>
			
			<div class="cost-tile-grid desktop-only">
				
				<div class="cost-tile">
					<div class="percentage-display">95%</div>
					<div class="statistic-contents">
						<p>Of people say face-to-face meetings are key to successfully building and maintaining long-term relationships.</p>
					</div>
				</div>
				<!-- Ref: https://www.sfhgroup.com/the-cost-of-poor-workplace-communication-and-what-to-do-about-it/ -->

				<div class="cost-tile">
					<div class="percentage-display">67%</div>
					<div class="statistic-contents">
						<p>Of employees claim to be distracted during online meetings and 55% admit to checking their emails during calls.</p>
					</div>
				</div>

				<div class="cost-tile">
					<div class="percentage-display">49%</div>
					<div class="statistic-contents">
						<p>Of individuals report being exhausted due to being on webcam during meetings.</p>
					</div>
				</div>

				<div class="cost-tile">
					<div class="percentage-display">xx%</div>
					<div class="statistic-contents">
						<p>Some missing statistic, probably about time waisted due to text convo with ChatGPT.</p>
					</div>
				</div>
			</div>

			<!-- Carousel version for mobile -->
			<div class="swiper-container cost-carousel mobile-only">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="cost-tile">
							<div class="percentage-display">95%</div>
							<div class="statistic-contents">
							<p>Of people say face-to-face meetings are key to successfully building and maintaining long-term relationships.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="cost-tile">
							<div class="percentage-display">67%</div>
							<div class="statistic-contents">
								<p>Of employees claim to be distracted during online meetings and 55% admit to checking their emails during calls.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="cost-tile">
							<div class="percentage-display">49%</div>
							<div class="statistic-contents">
								<p>Of individuals report being exhausted due to being on webcam during meetings.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="cost-tile">
							<div class="percentage-display">xx%</div>
							<div class="statistic-contents">
								<p>Some missing statistic, probably about time waisted due to text convo with ChatGPT.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="cost-pagination"></div>
			</div>

			<h2 class="impact-message">The impact: Poor communication costs $12,506 per employee per year.</h2>
			<!-- TODO: Maybe add some note here about how much is lost due to ineffective training and onboarding? -->

		</div>

		<div class="hr-div">
			<hr>
		</div>
		
		<!-- Solution Section -->
		<div id="next_evolution" class="section-header">
			<h1>Our Solution:<br class="mobile-break"> The Cilindir Rift</h1>
		</div>
		<div class="rift-overview-container">

			<h2>The Rift allows two or more remote users to see, hear, and interact with each other as if they were together in the same room.</h2>

			<div class="remote-conferencing-images-grid desktop-only">
				<img src="/product_renders/eric_carla_conf/carla_left.png" alt="Remote Conferencing with Cilindir" />
				<img src="/product_renders/eric_carla_conf/eric_left.png" alt="Remote Conferencing with Cilindir" />
			</div>

			<div class="swiper-container remote-conferencing-carousel mobile-only">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
					<img src="/product_renders/eric_carla_conf/carla_left.png" alt="Remote Conferencing with Cilindir" />
					</div>
					<div class="swiper-slide">
					<img src="/product_renders/eric_carla_conf/eric_left.png" alt="Remote Conferencing with Cilindir" />
					</div>
				</div>
				<div class="remote-conferencing-pagination"></div>
			</div>

			<h2>Additionally, the Rift enables natural, face-to-face communication with conversational Artificial Intelligence, like ChatGPT.</h2>

			<div class="ai-conferencing-images-grid desktop-only">
				<img src="/product_renders/eric_carla_w_ai/eric_w_ai.png" alt="AI conferencing with Cilindir" />
				<img src="/product_renders/eric_carla_w_ai/carla_w_ai.png" alt="AI conferencing with Cilindir" />
			</div>

			<div class="swiper-container ai-conferencing-carousel mobile-only">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
					<img src="/product_renders/eric_carla_w_ai/eric_w_ai.png" alt="AI conferencing with Cilindir" />
					</div>
					<div class="swiper-slide">
					<img src="/product_renders/eric_carla_w_ai/carla_w_ai.png" alt="AI conferencing with Cilindir" />
					</div>
				</div>
				<div class="ai-conferencing-pagination"></div>
			</div>

		</div>

		<!-- Sign-up form -->
		<!-- <div class="sign-up-form">
			<p>Be the first to know!</p>
			<form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="input-container">
					<input type="text" placeholder="Your Name" value="" name="FNAME" class="required fname" id="mce-FNAME">
					<input type="email" placeholder="Your Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="submit-button-container">
					<input type="submit" value="Join the Waitlist" name="subscribe" id="mc-embedded-subscribe" class="signup-btn">
				</div>
			</form>
		</div> -->

		<div class="hr-div">
			<hr>
		</div>

		<!-- Technology Overview Section -->
		<div class="section-header">
			<h1>Technology Overview</h1>
		</div>
		<div class="technology-overview-container">

			<h2>The evolution of communication technologies has been driven by our human need for more immediate and interactive ways to connect. Cilindir represents the natural next step in this evolution.</h2>

			<div class="feature">
				<div class="feature-image">
					<img src="/technology_images/planning_session.png" alt="Shared virtual spaces">
				</div>
				<div class="feature-text">
					<h2>Shared virtual spaces</h2>
					<p>Cilindir enables natural interaction by placing users together in shared virtual spaces—wearables free.</p>
				</div>
			</div>

			<div class="feature">
				<div class="feature-text">
					<h2>Full-Body Capture</h2>
					<p>Video calls only show you from the shoulders up. VR platforms reduce you to a cartoonish avatar. Cilindir uses an integrated network of cameras to generate a lifelike 3D rendering.</p>
				</div>
				<div class="feature-image">
					<img src="/technology_images/three_person_networking.png" alt="Full Body Capture">
				</div>
			</div>

			<div class="feature">
				<div class="feature-image">
					<img src="/technology_images/two_people_drinking_tea.png" alt="Natural Communication with AI">
				</div>
				<div class="feature-text">
					<h2>Laptop Integration</h2>
					<p>Connect your laptop or mobile device to share presentation slides or to receive AI-generated text and media directly to your device.</p>
				</div>
			</div>

			<div class="feature">
				<div class="feature-text">
					<h2>Minimal Footprint</h2>
					<p>Engineered with an invisible hinge, the two-panel Rift unit can be folded into a corner or placed flat against a wall, allowing for easy integration into existing spaces.</p>
				</div>
				<div class="feature-image">
					<img src="/technology_images/two_panel_fold.png" alt="No Wearables">
				</div>
	
			</div>

			<div class="feature">
				<div class="feature-image">
					<img src="/technology_images/joining_from_computer.png" alt="Cross-Platform Integration">
				</div>
				<div class="feature-text">
					<h2>Zoom Integration</h2>
					<p>Whether you're joining from a Rift or a traditional computer setup, you can seamlessly participate in the same virtual spaces together with other remote users.</p>
				</div>
			</div>
			
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Applications Section -->
		<div class="section-header">
			<h1>Applications</h1>
		</div>
		<div class="application-container">
			
			<div class="application-tile-grid desktop-only">
				<div class="application-tile">
					<i aria-hidden="true" class="fas fa-users fa-4x" title="Communication & Collaboration"></i>
					<div class="application-contents">
						<div class="application-title">Communication & Collaboration</div>
						<div class="application-description">More natural and immersive collaboration, supercharging engagement and productivity.</div>
					</div>
				</div>

				<div class="application-tile">
					<i aria-hidden="true" class="fas fa-chalkboard-user fa-4x" title="Training & Development"></i>
					<div class="application-contents">
						<div class="application-title">Training & Development</div>
						<div class="application-description">More engaging and practical training, with AI-powered feedback for better learning and retention.</div>
					</div>
				</div>

				<div class="application-tile">
					<i aria-hidden="true" class="fas fa-handshake fa-4x" title="Networking"></i>
					<div class="application-contents">
						<div class="application-title">Networking</div>
						<div class="application-description">Build trust and rapport remotely, reducing the need for time-consuming and expensive travel.</div>
					</div>
				</div>

				<div class="application-tile">
					<i aria-hidden="true" class="fas fa-user-tie fa-4x" title="Recruitment"></i>
					<div class="application-contents">
						<div class="application-title">Recruitment</div>
						<div class="application-description">Make hiring smarter and more genuine with face-to-face interviews with remote candidates.</div>
					</div>
				</div>
			</div>

			<div class="swiper-container application-carousel mobile-only">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
				<div class="application-tile">
					<i class="fas fa-users fa-3x" aria-hidden="true"></i>
					<div class="application-contents">
					<div class="application-title">Communication & Collaboration</div>
					<div class="application-description">More natural and immersive collaboration, supercharging engagement and productivity.</div>
					</div>
				</div>
				</div>
				<div class="swiper-slide">
				<div class="application-tile">
					<i class="fas fa-chalkboard-user fa-3x" aria-hidden="true"></i>
					<div class="application-contents">
					<div class="application-title">Training & Development</div>
					<div class="application-description">More engaging and practical training, with AI-powered feedback for better learning and retention.</div>
					</div>
				</div>
				</div>
				<div class="swiper-slide">
				<div class="application-tile">
					<i class="fas fa-handshake fa-3x" aria-hidden="true"></i>
					<div class="application-contents">
					<div class="application-title">Networking</div>
					<div class="application-description">Build trust and rapport remotely, reducing the need for time-consuming and expensive travel.</div>
					</div>
				</div>
				</div>
				<div class="swiper-slide">
				<div class="application-tile">
					<i class="fas fa-user-tie fa-3x" aria-hidden="true"></i>
					<div class="application-contents">
					<div class="application-title">Recruitment</div>
					<div class="application-description">Make hiring smarter and more genuine with face-to-face interviews with remote candidates.</div>
					</div>
				</div>
				</div>
			</div>
			<div class="application-pagination"></div>
			</div>

			<h2>Not shopping for business? Contact us to discover how the Rift is transforming professional services, telemedicine, personal connection, and more.</h2>

		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Section on how we compare -->
		<div class="section-header">
			<h1>How We Compare</h1>
		</div>
		<div class="comparison-container">
		<table class="comparison-table">
			<colgroup>
				<col style="width: 28%;">
				<col style="width: 18%;">
				<col style="width: 18%;">
				<col style="width: 18%;">
				<col style="width: 18%;">
			</colgroup>
			<thead>
			<tr>
				<th><span class="competitor-label">Feature / Experience</span></th>
				<th><span class="competitor-label">Cilindir Rift</span></th>
				<th>
					<span class="competitor-label">Video Conferencing</span>
					<em>Zoom, Microsoft Teams & Cisco Webex</em>
				</th>
				<th>
					<span class="competitor-label">Video-Based Portals</span>
					<em>Tonari</em>
				</th>
				<th>
					<span class="competitor-label">VR/XR Platforms</span>
					<em>Meta Horizon, Virbela & Strivr </em>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Full-body capture</td>
				<td>✅</td>
				<td>❌</td>
				<td>✅</td>
				<td>❌</td>
			</tr>
			<tr>
				<td>Natural eye contact</td>
				<td>✅</td>
				<td>❌</td>
				<td>✅</td>
				<td>✅</td>
			</tr>
			<tr>
				<td>Wearables free</td>
				<td>✅</td>
				<td>✅</td>
				<td>✅</td>
				<td>❌</td>
			</tr>
			<tr>
				<td>Multi-party conferencing</td>
				<td>✅</td>
				<td>✅</td>
				<td>❌</td>
				<td>✅</td>
			</tr>
			<tr>
				<td>Multiple users per device</td>
				<td>❌</td>
				<td>❌</td>
				<td>✅</td>
				<td>❌</td>
			</tr>
			<tr>
				<td>Zoom integration</td>
				<td>✅</td>
				<td><strong>&ndash;</strong></td>
				<td>❌</td>
				<td>❌</td>
			</tr>
			<tr>
				<td>AI chatbot integration</td>
				<td>✅</td>
				<td>❌</td>
				<td>❌</td>
				<td>✅ (limited)</td>
			</tr>
			<tr>
				<td>AI-powered summary and insights</td>
				<td>✅</td>
				<td>✅</td>
				<td>❌</td>
				<td>✅ (emerging)</td>
			</tr>
			<tr>
				<td>Cost</td>
				<td><strong>$$</strong></td>
				<td><strong>$</strong></td>
				<td><strong>$$$</strong></td>
				<td><strong>$$</strong> - <strong>$$$</strong></td>
			</tr>
		    </tbody>
 		</table>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Pricing Section -->
		<div class="section-header">
			<h1>Pricing</h1>
		</div>
		<div class="pricing-container">
			<div class="pricing-tile-grid desktop-only">
				<div class="product-column">
					<h2 class="product-name">Rift: Single Panel Unit</h3>
					<img src="/product_renders/simple/1_panel_simple.png" alt="Rift: Single Panel Unit" class="product-image" />
					<p class="product-dimensions">Dimensions:<br class="mobile-break"> 59" x 83” (1.5 m x 2.1 m)</p>
					<p class="product-description">Perfect for one-on-one conferencing, with a compact design that fits easily into any space.</p>
					<p class="product-price">Starting at $2,799</p>
				</div>
				
				<div class="product-column">
					<h2 class="product-name">Rift: Double Panel Unit</h3>
					<img src="/product_renders/simple/2_panel_simple.png" alt="Rift: Double Panel Unit" class="product-image" />
					<p class="product-dimensions">Dimensions:<br class="mobile-break"> 118" x 83” (3 m x 2.1 m)</p>
					<p class="product-description">Well suited for multi-party conferencing, with larger render and user-capture volumes.</p>
					<p class="product-price">Starting at $4,249</p>
				</div>
			</div>

			<div class="swiper-container pricing-carousel mobile-only">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="product-column">
							<h2 class="product-name">Rift: Single Panel Unit</h2>
							<img src="/product_renders/simple/1_panel_simple.png" alt="Rift: Single Panel Unit" class="product-image" />
							<p class="product-dimensions">Dimensions:<br class="mobile-break"> 59" x 83” (1.5 m x 2.1 m)</p>
							<p class="product-description">Perfect for one-on-one conferencing, with a compact design that fits easily into any space.</p>
							<p class="product-price">Starting at $2,799</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-column">
							<h2 class="product-name">Rift: Double Panel Unit</h2>
							<img src="/product_renders/simple/2_panel_simple.png" alt="Rift: Double Panel Unit" class="product-image" />
							<p class="product-dimensions">Dimensions:<br class="mobile-break"> 118" x 83” (3 m x 2.1 m)</p>
							<p class="product-description">Well suited for multi-party conferencing, with larger render and user-capture volumes.</p>
							<p class="product-price">Starting at $4,249</p>
						</div>
					</div>
				</div>
				<div class="pricing-pagination"></div>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Founders Section -->
		<div class="section-header">
			<h1>Meet the Founders</h1>
		</div>
		<div class="founder-container">

			<div class="founder-tile">
				<div class="founder-summary">
					<img src="/founder_headshots/michael.svg" alt="Michael Luciuk" class="founder-image">
					<h2>Michael Luciuk, MSc</h2>
					<h3>Co-Founder and CTO</h3>
				</div>

				<div class="founder-description">
					<p>After moving out of province for graduate school, Michael wanted a more natural and immersive way to stay connected with friends and family back home. Instant messaging and video calls just didn’t offer the immersion and realism needed for family dinners or drinks out with friends.</p>
					<p>While researching virtual reality as a platform for corporate communications, Michael realized there was a bigger issue at play: the need to bridge the gap between the physical and digital worlds. This became the foundation for Cilindir’s mission to <i>facilitate human integration into shared virtual spaces</i>, and our platform for networked VR pods.</p>
					<p>Michael works as a technical lead at <a href="https://qoherent.ai/" target="_blank">Qoherent</a>, with professional experience at <a href="https://www.basf.com/global/" target="_blank">BASF</a>, <a href="https://www.imperialoil.ca/" target="_blank">Imperial Oil</a>, and the <a href="https://artsandscience.usask.ca/physics/research/groups/isas.php" target="_blank">Institute of Space and Atmospheric Studies</a>. Michael holds a Master’s in Applied Computing (MScAC) from the University of Toronto and bachelor’s degrees in Engineering Physics and Computer Science from the University of Saskatchewan.</p>
				</div>
			</div>

			<div class="founder-tile">
				<div class="founder-summary">
					<img src="/founder_headshots/eric.svg" alt="Michael Luciuk" class="founder-image">
					<h2>Eric Macrow, CPA, MBA</h2>
					<h3>Co-Founder and CEO</h3>
				</div>

				<div class="founder-description">
					<p>Eric's spent over five years at a Big 4 accounting firm, where in-person interactions are critical for productivity, relationship building, and business success. With the shift to remote work, Eric has experienced firsthand the shortcomings of traditional video platforms and their impact on his organization. Eric co-founded Cilindir to bridge this gap and deliver accessible remote communication solutions that effectively replicate the nuances of in-person collaboration.</p>
					<p>Working regularly with emerging technology startups, Eric has a keen understanding of what it takes to build and scale in the fast-evolving digital landscape. Eric's brought this expertise with him to Cilindir, where he leads strategic direction, business development, and growth initiatives, overseeing all aspects of the company's day-to-day operations.</p>
					<p>Eric works as an Assurance Manager at <a href="https://www.ey.com/" target="_blank">EY</a>, with previous experience at <a href="https://www.manulife.ca/" target="_blank">Manulife</a>. Eric holds a Bachelor of Science in Accounting and an MBA from the University of Detroit. Since returning to Canada, Eric has also obtained his CPA designation.</p>
				</div>
			</div>

		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Ecosystem Section -->
		<div class="section-header">
			<h1>Our Innovation Ecosystem</h1>
		</div>
		<div class="partner-container">
			<div class="partner-logo">
				<a href="https://innovationfactory.ca/" target="_blank">
					<img src="/partner_logos/iF-Logo_colour-1-300x118.png" alt="NVIDIA Inception Program" class="partner-if">
				</a>
			</div>

			<div class="partner-logo">
				<a href="https://www.nvidia.com/en-us/startups/" target="_blank">
					<img src="/partner_logos/nvidia-inception-program.png" alt="NVIDIA Inception Program" class="partner-nvidia">
				</a>
			</div>

			<div class="partner-logo">
				<a href="https://www.ualberta.ca/en/engineering/" target="_blank">
					<img src="/partner_logos/uofa-faculty-of-engineering.png" alt="University of Alberta Faculty of Engineering" class="partner-uofa">
				</a>
			</div>

			<div class="partner-logo">
				<a href="https://web.cs.toronto.edu/" target="_blank">
					<img src="/partner_logos/uoft-department-of-computer-science.png" alt="University of Toronto Department of Computer Science" class="partner-uoft">
				</a>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<div class="contact-form">
			<p>For business, investment, or career inquiries, please reach out to us on <a href="https://www.linkedin.com/company/cilindir/people/">LinkedIn</a>.</p>
		</div>

		<!-- Copyright Notice -->
		<div class="footer-copyright">
			<p><span class="copyright-symbol">&copy;</span> {{ now.Year }} Cilindir Inc.</p>
		</div>

	</div>

	<script>
		// Scrolling to mission section goes a little too far down, adjust with offset
        document.querySelector('.scroll-to-learn-more a').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default anchor behavior

            // Get the target section's offset
            const target = document.querySelector('#problem');
            const offset = 100; // Adjust this value as needed

            window.scrollTo({
                top: target.offsetTop - offset,
                behavior: 'smooth'
            });
        });
    </script>

	<!-- Swiper JS -->
  	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script>
		function initSwiper(containerClass, paginationClass) {
			return new Swiper(containerClass, {
				slidesPerView: 1,
				spaceBetween: 20,
				pagination: {
					el: paginationClass,
					clickable: true,
				},
				breakpoints: {
					769: {
						enabled: false,
					},
				},
			});
		}

		const welcomeSwiper = initSwiper('.welcome-carousel', '.welcome-pagination');
		const costSwiper = initSwiper('.cost-carousel', '.cost-pagination');
		const remoteConfSwiper = initSwiper('.remote-conferencing-carousel', '.remote-conferencing-pagination');
		const aiConferencingSwiper = initSwiper('.ai-conferencing-carousel', '.ai-conferencing-pagination');
		const applicationSwiper = initSwiper('.application-carousel', '.application-pagination');
		const pricingSwiper = initSwiper('.pricing-carousel', '.pricing-pagination');
		
	</script>
</body>
</html>
