<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/fontawesome.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/solid.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/brands.min.css">
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<link rel="icon" type="image/svg" href="/branding/cilindir-favicon-light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg" href="/branding/cilindir-favicon-dark.svg" media="(prefers-color-scheme: dark)">
</head>
<body>

	<header id="header">
		<div class="logo">
			<a href="#top">
				<img src="/branding/cilindir-logo-long-dark.svg" alt="Cilindir Logo">
			</a>
		</div>
		<ul class="social-icons">
			<li><a href="https://www.linkedin.com/company/cilindir/" title="LinkedIn"><i aria-hidden="true" class="fab fa-linkedin fa-lg"></i></a></li>
			<li><a href="https://github.com/Cilindir/" title="GitHub"><i aria-hidden="true" class="fab fa-github fa-lg"></i></a></li>
		</ul>
	</header>

	<div class="page-content">

		<!-- Welcome -->
		<div class="welcome-container">
			<div class="welcome-contents">
				<div class="welcome-message">
					<h1>Introducing Cilindir:</h1>
					<h2>The next evolution in communication technology</h2>
					<p>Cilindir builds virtual reality (VR) pods. Cilindir pods provide a natural, wearables-free gateway to the virtual world. Each Cilindir is designed to comfortably accommodate one person.</p>
					<p>Once inside, an integrated network of cameras continuously monitors the user, powering a realistic 3D avatar. These avatars enable lifelike interactions in shared virtual spaces.  When two or more remote users connect through Cilindir, they can see, hear, and interact with each other as if they were together in the same room!</p>
					<p>What's more—Cilindir allows users to interact face-to-face with Artificial Intelligence (AI), as if it were a real person. Thanks to full-body capture, AIs can respond naturally to a Cilindir user’s movements and actions.</p>
					
					<div class="sign-up-form">
						<p>Be the first to know!</p>
						<form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div class="input-container">
								<input type="text" placeholder="Your Name" value="" name="FNAME" class="required fname" id="mce-FNAME">
								<input type="email" placeholder="Your Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
							<div class="submit-button-container">
								<input type="submit" value="Join the Waitlist" name="subscribe" id="mc-embedded-subscribe" class="signup-btn">
							</div>
						</form>
					</div>
				</div>
				<div class="cilindir-picture-container">
					<img src="/branding/white-cloth-81-no-bg-cropped.svg" alt="Cilindir: From Any Place to Every Face" style="max-width: 775px; height: auto;">
				</div>
			</div>
		</div>

		<div class="scroll-to-learn-more">
			<a href="#company"><h2>Scroll down to learn more</h2></a>
		</div>

		<!-- Mission Section -->
		<div id="company" class="section-header">
			<h1>Company Overview</h1>
		</div>
		<div class="company-overview-container">

			<div class="tile">
				<i aria-hidden="true" class="fas fa-triangle-exclamation fa-4x" title="Problem"></i>
				<h2>Problem</h2>
				<div style="height: 2px;"></div>
				<div class="tile-contents-problem">Existing remote communication tech-nologies don't always cut it, and in-person meetings aren't always practical.</div>
				<div style="height: 2px;"></div>
			</div>

			<div class="tile">
				<i aria-hidden="true" class="fas fa-lightbulb fa-4x" title="Solution"></i>
				<h2>Solution</h2>
				<div class="tile-contents-solution">Immersive VR pods that enable more natural and engaging interactions in shared virtual spaces.</div>
			</div>

			<div class="tile">
				<i aria-hidden="true" class="fas fa-compass fa-4x" title="Mission"></i>
				<h2>Mission</h2>
				<div style="height: 8px;"></div>
				<div class="tile-contents-mission">To facilitate human integration<br>into shared virtual spaces.</div>
				<div style="height: 8px;"></div>
			</div>

			<div class="tile">
				<i aria-hidden="true" class="fas fa-binoculars fa-4x" title="Vision"></i>
				<h2>Vision</h2>
				<div class="tile-contents-solution">A more connected world; in which everyone is empowered to experience the extraordinary.</div>
			</div>

		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Benefits Section -->
		<div class="section-header">
			<h1>Technology</h1>
		</div>
		<div class="benefit">
			<div class="benefit-image">
				<img src="/technology_images/girl-on-boat.png" alt="360° Immersion">
			</div>
			<div class="benefit-text">
				<h2>360° Immersion</h2>
				<p>Cilindir offers a fully immersive 3D environment, complete with surround-screen and spatial audio, enabling more natural and expressive interactions.</p>
			</div>
		</div>

		<div class="benefit">
			<div class="benefit-text-reverse">
				<h2>Full Body Capture</h2>
				<p>Traditional platforms use cartoonish avatars. Cilindir uses a network of cameras to capture the user’s entire body, capturing lifelike detail and full body language.</p>
			</div>
			<div class="benefit-image-reverse">
				<img src="/technology_images/friends-in-park.png" alt="Full body capture">
			</div>
		</div>

		<div class="benefit">
			<div class="benefit-image">
				<img src="/technology_images/two-people-drinking-coffee.png" alt="No wearables">
			</div>
			<div class="benefit-text">
				<h2>No Wearables</h2>
				<p>Cilindir offers a completely wearables-free experience, eliminating discomfort and fatigue associated with the prolonged use of headsets and hand controllers.</p>
			</div>
		</div>

		<div class="benefit">
			<div class="benefit-text-reverse">
				<h2>Cross-Platform Integration</h2>
				<p>Whether you're joining from a Cilindir or a traditional computer setup, you can seamlessly participate in the same virtual meetings/spaces together with other remote users.</p>
			</div>
			<div class="benefit-image-reverse">
				<img src="/technology_images/parents-at-laptop.png" alt="Cross-Platform Integration">
			</div>
		</div>

		<div class="benefit">
			<div class="benefit-image">
				<img src="/technology_images/holographic-display.png" alt="Paving the Way for Hyper-Immersion">
			</div>
			<div class="benefit-text">
				<h2>Charting the Path to Hyper-Immersion</h2>
				<p>The Cilindir pods provide a controlled environment, paving the way for advanced features like climate control and holography. These are capabilities that wearables can't provide due to inherent environmental constraints.</p>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Applications Section -->
		<div class="section-header">
			<h1>Applications</h1>
		</div>
		<div class="tile-container">
			<div class="tile-grid">
				<!-- Repeat this block for each tile -->
				<div class="tile">
					<i aria-hidden="true" class="fas fa-clapperboard fa-3x" title="Entertainment"></i>
					<div class="app-name">Entertainment</div>
					<div class="app-description">Immersive virtual experiences, games, and live events</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-shirt fa-3x" title="Retail"></i>
					<div class="app-name">Retail</div>
					<div class="app-description">Virtual shopping and<br>AI-powered customer service</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-graduation-cap fa-3x" title="Education"></i>
					<div class="app-name">Education</div>
					<div class="app-description">Realistic face-to-face<br>learning environments</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-palette fa-3x" title="Creative Arts"></i>
					<div class="app-name">Creative Arts</div>
					<div class="app-description">Empowered artists and<br>immersive installations</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-briefcase fa-3x" title="Business"></i>
					<div class="app-name">Business</div>
					<div class="app-description">Lifelike remote collaboration<br>and networking</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-mountain-city fa-3x" title="Sightseeing"></i>
					<div class="app-name">Sightseeing</div>
					<div class="app-description">Immersive virtual tours<br>and experiences</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-user-tie fa-3x" title="Professional Services"></i>
					<div class="app-name">Professional Services</div>
					<div class="app-description">Virtual interactions with<br>consultants, lawyers, etc.</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-users fa-3x" title="Personal Connections"></i>
					<div class="app-name">Personal Connections</div>
					<div class="app-description">Authentic virtual interactions<br>with friends and family</div>
				</div>
				<div class="tile">
					<i aria-hidden="true" class="fas fa-helmet-safety fa-3x" title="Simulation & Training"></i>
					<div class="app-name">Simulation & Training</div>
					<div class="app-description">Hyper-realistic simulations<br>and training experiences</div>
				</div>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Founders Section -->
		<div class="section-header">
			<h1>Meet the Founder</h1>
		</div>
		<div class="founder-container">

			<div class="founder-summary">
				<img src="/founder_headshots/michael.svg" alt="Michael Luciuk" class="founder-image">
				<h2>Michael Luciuk, MSc</h2>
				<h3>Founder and CTO</h3>
			</div>

			<div class="founder-description">
				<p>After moving out of province for graduate school, Michael wanted a more natural and immersive way to stay connected with friends and family back home. Instant messaging and video calls just didn’t offer the immersion and realism needed for family dinners or drinks out with friends.</p>
				<p>In 2024, Michael cofounded Cilindir to tackle challenges in remote communication. While researching virtual reality as a platform for corporate communications, Michael realized there was a bigger issue at play: the need to bridge the gap between the physical and digital worlds. This became the foundation for Cilindir’s mission to <i>facilitate human integration into shared virtual spaces</i>, and our platform for networked VR pods.</p>
				<p>Michael works as a technical lead at <a href="https://qoherent.ai/" target="_blank">Qoherent</a>, an early-stage tech startup building AI solutions for next-generation wireless technologies. Prior to joining the team at Qoherent, Michael earned his Master’s in Applied Computing (MScAC) from the University of Toronto. Michael’s background is in scientific software development, with professional experience at <a href="https://www.basf.com/global/" target="_blank">BASF</a>, <a href="https://www.imperialoil.ca/" target="_blank">Imperial Oil</a>, and the <a href="https://artsandscience.usask.ca/physics/research/groups/isas.php" target="_blank">Institute of Space and Atmospheric Studies</a>. He holds bachelor’s degrees in engineering physics and computer science from the University of Saskatchewan.</p>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<!-- Supported By Section -->
		<div class="section-header">
			<h1>Supported by</h1>
		</div>
		<div class="partner-container">
			<div class="partner-logo">
				<a href="https://innovationfactory.ca/" target="_blank">
					<img src="/partner_logos/iF-Logo_colour-1-300x118.png" alt="NVIDIA Inception Program" class="partner-if">
				</a>
			</div>

			<div class="partner-logo">
				<a href="https://www.nvidia.com/en-us/startups/" target="_blank">
					<img src="/partner_logos/nvidia-inception-program-badge-rgb-for-screen.png" alt="NVIDIA Inception Program" class="partner-nvidia">
				</a>
			</div>
		</div>

		<div class="hr-div">
			<hr>
		</div>

		<div class="contact-form">
			<p>For business, investment, or career inquiries, please reach out to us on <a href="https://www.linkedin.com/company/cilindir/people/">LinkedIn</a>.</p>
		</div>

		<!-- Copyright Notice -->
		<div class="footer-copyright">
			<p><span class="copyright-symbol">&copy;</span> {{ now.Year }} Cilindir Inc.</p>
		</div>

	</div>

	<script>
		// Scrolling to mission section goes a little too far down, adjust with offset
        document.querySelector('.scroll-to-learn-more a').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default anchor behavior

            // Get the target section's offset
            const target = document.querySelector('#company');
            const offset = 50; // Adjust this value as needed

            window.scrollTo({
                top: target.offsetTop - offset,
                behavior: 'smooth'
            });
        });
    </script>

</body>
</html>
