@layer components {
    .feature-overview-container {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }

    .features-intro {
        margin: 0 auto 1rem auto;
        text-align: center;
    }

    .features-intro h2 {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        font-weight: bold;
        font-style: italic;
        color: #5D5F5E;
        margin-top: 5px;
    }

    .feature-overview-container details {
        width: 90%;
        max-width: 60rem;
        margin-bottom: 1rem;
        border: 1px solid #444;
        border-radius: 12px;
        background: var(--color-primary);
        color: var(--color-background);
        margin: 0 auto 1rem auto;
        padding: 1rem;
    }

    .feature-overview-container details:last-of-type {
        margin-bottom: 0.25rem;
    }

    .feature-overview-container summary {
        position: relative;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        list-style: none;
        text-align: center;
    }

    .feature-overview-container summary::after {
        content: '▶';
        display: inline-block;
        margin-left: 0.8rem;
        transition: transform 0.2s ease;
        font-size: 0.8rem;
        vertical-align: middle;
        margin-bottom: 4px;
    }

    /* Rotate arrow when details is open */
    .feature-overview-container details[open] summary::after {
        transform: rotate(90deg);
    }

    .feature-overview-container summary::-webkit-details-marker {
        display: none;
    }

    .feature-overview-container .feature-content {
        display: flex;
        flex-direction: column;
    }

    .feature-overview-container .feature-content img {
        /* width: 30vw; */
        width: 55%;
        max-width: 450px;
        height: auto;
        border-radius: 8px;
        margin: 1.5rem auto;
    }

    .feature-overview-container details p {
        width: 86%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 0.75rem;
        font-size: 1.1rem;
    }

    .feature-overview-container details a {
        font-size: inherit;
        transition: color 0.2s ease;
        color: var(--color-text-link)
    }

    .feature-overview-container details a:hover {
        color: var(--color-text-link-hover);
        text-decoration: underline;
    }

    @media (max-width: 1280px) {
        .feature-overview-container summary {
            font-size: 1.2rem;
        }

        .feature-overview-container details:last-of-type {
            margin-bottom: 0.75rem;
        }

        .feature-overview-container details p {
            width: 90%;
        }

        .feature-overview-container .feature-content img {
            width: 50%;
            margin: 1rem auto;
        }

        .feature-overview-container details p {
            font-size: 1rem;
        }
    }

    @media (max-width: 768px) {
        .feature-overview-container {
            width: 90%;
            margin: 0 auto;
        }

        .features-intro h2 {
            width: 80%;
            margin: 0 auto;
            font-size: 1rem;
            margin-top: 0.5rem;
        }

        .feature-overview-container details {
            padding: 0.5rem;
            margin-bottom: 0.75rem;
        }

        .feature-overview-container .feature-content img {
            width: 80%;
            border-radius: 6px;
        }

        .feature-overview-container details p {
            font-size: 0.95rem;
            width: 88%;
        }

        .feature-overview-container summary::after {
            font-size: 0.7rem;
        }
    }
}