@layer components {
    .hero-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tri-render-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .image-grid {
        width: 78vw;
        margin: auto;
    }

    .image-grid img {
        min-width: 0;
    }

    .hero-text {
        margin-top: 2rem;
    }

    .hero-text h2 {
        font-size: clamp(1.75rem, 2vw, 3rem);
        margin-top: 0;
        margin-top: -0.5vw;
        margin-bottom: 0.5vw;
    }

    .scroll-to-learn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scroll-to-learn-more h2 {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        font-weight: bold;
        font-style: italic;
        color: #5D5F5E;
        margin-top: 0.3rem;
        margin-bottom: 0;
    }


    @media (max-width: 1280px) {

        .image-grid {
            width: 72vw;
        }

        .hero-text {
            margin-top: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        .hero-container {
            width: 90%;
            margin: 0 auto;
        }

        .hero-container .swiper-slide img {
            max-width: 95%;
        }

        .hero-text h2 {
            font-size: 1rem;
        }
    }
}