@layer components {
    .partner-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 45px 45px;
        margin: auto;
        margin-top: 10px;
        width: 800px;
    }

    .partner-if {
        width: 300px;
        height: auto;
        margin-top: 7px;
    }

    .partner-nvidia {
        width: 290px;
        height: auto;
        margin: 0px;
        margin-top: 2px;
    }

    .partner-uofa {
        width: 305px;
        height: auto;
        margin: 0px;
    }

    .partner-uoft {
        padding-top: 3px;
        width: 325px;
        height: auto;
        margin: 0px;
    }

    @media (max-width: 768px) {
        .partner-container {
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            gap: 5px;
            width: 100%;
        }

        .partner-logo {
            margin: 0 auto;
            width: 80%;
        }

        .partner-if {
            width: 190px;
            height: auto;
            margin: 0px;
        }

        .partner-nvidia {
            width: 180px;
            height: auto;
            margin: 0px;
        }

        .partner-uofa {
            width: 180px;
            height: auto;
            margin: 0px;
            margin-top: 7px;
        }

        .partner-uoft {
            width: 170px;
            height: auto;
            margin: 0px;
        }
    }
}