@layer components {
    #technology {
        scroll-margin-top: 11rem;
    }

    .technology-overview-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3rem;
        margin: -2rem auto 1.5rem;
    }

    .rift-overview-text {
        width: auto;
        text-align: center;
    }

    .rift-overview-text h2 {
        max-width: 65%;
        margin: 0 0 1.5rem auto;
    }

    .rift-overview-text h2:last-child {
        margin-bottom: 0;
    }

    .rift-overview-image img {
        height: 70vh;
        width: auto;
        display: block;
    }

    @media (max-width: 1280px) {
        #technology {
            scroll-margin-top: 9.5rem;
        }

        .technology-overview-container {
            gap: 2rem;
            margin: -1rem auto 1rem;
        }

        .rift-overview-text {
            margin-left: 1rem;
        }

        .rift-overview-text h2 {
            max-width: 80%;
        }

        .rift-overview-image img {
            height: 64vh;
            margin-left: 1rem;
        }
    }

    @media (max-width: 1024px) {

        .rift-overview-container {
            width: 90%;
        }

        .rift-overview-container h2 {
            font-size: 1.2rem;
            margin-top: 0.6rem;
            font-weight: normal;
            width: 95%;
        }

        .remote-conferencing-carousel .cost-pagination {
            position: relative;
            text-align: center;
            margin-top: 10px;
        }

        .swiper-container.remote-conferencing-carousel {
            padding-top: 10px;
        }

        .swiper-container.ai-conferencing-carousel {
            padding-top: 20px;
        }

        .swiper-container.remote-conferencing-carousel img {
            display: block;
            width: 100%;
            height: auto;
        }

        .swiper-container.ai-conferencing-carousel img {
            display: block;
            height: 100vw;
            width: auto;
            margin: 0 auto;
        }
    }
}